In [2]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
from ast import literal_eval
import unicodedata
import matplotlib.pyplot as plt
pd.set_option("display.max_rows", None)
pd.set_option('display.width', 1000)

In [3]:
def column_stats_new(df, id_column, name_column, tax_id_column, n=None):
    if n is None:
        n = df.shape[0]
    count_column = name_column + "_count"
    count_df = df[[name_column, tax_id_column, id_column]].groupby([name_column, tax_id_column]).count().reset_index()
    count_df.columns=[name_column, tax_id_column, count_column]
    count_df[name_column + "_percent"] = count_df[count_column].apply(lambda x: int(x)/n*100)
    print(f"Number of unique values = {len(df[name_column].unique())}")
    return count_df

In [4]:
def column_stats(df, column_name, n=None):
    if n is None:
        n = df.shape[0]
    count_column_name = column_name + "_count"
    count_df = pd.DataFrame(df[column_name].value_counts()).reset_index()
    count_df.columns=[column_name, count_column_name]
    count_df[column_name + "_percent"] = count_df[count_column_name].apply(lambda x: int(x)/n*100)
    print(f"Number of unique values = {len(df[column_name].unique())}")
    print(f"{count_df}")
    return count_df
    
def filter_with_threshold(df, column_name, threshold):
    print(f"Size of df = {df.shape}")
    n = df.shape[0]
    count_df = column_stats(df, column_name, n=n)
    percent_column_name = column_name + "_percent"
    filtered_count_df = count_df[count_df[percent_column_name] >= threshold]
    filtered_df = df[df[column_name].isin(list(filtered_count_df[column_name].values))]
    print(f"Size of filtered df = {filtered_df.shape}")
    column_stats(filtered_df, column_name, n=n)
    return filtered_df

In [5]:
def print_seq_len_histogram(df, n_bins):
    sns.histplot(df["seq_len"])
    print(f"min seq len = {min(df['seq_len'])}")
    print(f"max seq len = {max(df['seq_len'])}")
    plt.show()
    
    freq, bins = np.histogram(df["seq_len"], bins=n_bins)
    n = df.shape[0]
    hist_map = []
    for i in range(n_bins):
        hist_map.append({"start": bins[i], "end":bins[i+1], "count": freq[i], "percentage": freq[i]/n*100})
    hist_df = pd.DataFrame(hist_map)
    print(hist_df)

# Coronaviridae S Protein UniRef90 - EMBL mapping Dataset Generation
## Coronaviridae S Protein

### coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv

In [6]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv")
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(860, 10)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species

In [7]:
column_stats(df, "uniref90_id", "virus_host_name", "virus_host_tax_id")

Number of unique values = 153

                                virus_host_name  virus_host_tax_id  virus_host_name_count  virus_host_name_percent
0                              15 days old calf                  0                      1                 0.116279
1                            allactaga sibirica             234626                      1                 0.116279
2                                 anas gracilis              45630                      1                 0.116279
3                             anas superciliosa              45632                      3                 0.348837
4          arenaria interpres (ruddy turnstone)                  0                      1                 0.116279
5                              backyard chicken                  0                      1                 0.116279
6                              bandicota indica             456472                      1                 0.116279
7                             bandicota savilei             456473                      1                 0.116279
8                                           bat                  0                     12                 1.395349
9                                   bat bf_258i                  0                      1                 0.116279
10                                  bat bf_506i                  0                      1                 0.116279
11                                       bovine                  0                      1                 0.116279
12                            branta canadensis               8853                      1                 0.116279
13                                      broiler                  0                      6                 0.697674
14                              broiler chicken                  0                     12                 1.395349
15                             broiler chickens                  0                      1                 0.116279
16                                        camel                  0                      2                 0.232558
17                          camelus dromedarius               9838                      2                 0.232558
18                                       canine                  0                      3                 0.348837
19                                  canis lupus               9612                     26                 3.023256
20                        cardioderma cor (bat)                  0                      1                 0.116279
21                                          cat                  0                     17                 1.976744
22                                       cattle                  0                      2                 0.232558
23                     chaerephon pumilus (bat)                  0                      1                 0.116279
24                         chaerephon sp. (bat)                  0                      1                 0.116279
25                                      chicken                  0                    184                21.395349
26                            chicken (broiler)                  0                      2                 0.232558
27                              chicken-broiler                  0                      1                 0.116279
28                    chlamydotis sp. (houbara)                  0                      1                 0.116279
29                                columba livia               8932                      3                 0.348837
30                               common moorhen                  0                      1                 0.116279
31                            coturnix japonica              93934                      1                 0.116279
32                              crocuta crocuta               9678                      1                 0.116279
33                        cynomops planirostris             409018                      1                 0.116279
34                            cynopterus sphinx               9400                      1                 0.116279
35         delphinapterus leucas (beluga whale)                  0                      1                 0.116279
36                            desmodus rotundus               9430                      2                 0.232558
37                                          dog                  0                      4                 0.465116
38                                 domestic dog                  0                      1                 0.116279
39                               eidolon helvum              77214                      3                 0.348837
40                         eidolon helvum (bat)                  0                      1                 0.116279
41                             eptesicus fuscus              29078                      1                 0.116279
42             eptesicus fuscus (big brown bat)                  0                      3                 0.348837
43                          erinaceus amurensis             757341                      1                 0.116279
44                          erinaceus europaeus               9365                      1                 0.116279
45                                       feline                  0                      7                 0.813953
46                                  felis catus               9685                     48                 5.581395
47                            felis catus (cat)                  0                      3                 0.348837
48                                       ferret                  0                      5                 0.581395
49                      galliformes sp. (quail)                  0                      1                 0.116279
50                                       gallus               9030                      1                 0.116279
51                            gallus domesticus                  0                      1                 0.116279
52                                gallus gallus               9031                     99                11.511628
53   gallus gallus (48 week-old breeder layers)                  0                      1                 0.116279
54                      gallus gallus (broiler)                  0                      1                 0.116279
55                      gallus gallus (chicken)                  0                      7                 0.813953
56                     gallus gallus domesticus               9031                     14                 1.627907
57           gallus gallus domesticus (chicken)                  0                      1                 0.116279
58                                         goat                  0                      1                 0.116279
59                           grey-backed thrush             411519                      1                 0.116279
60                                  guinea fowl                  0                      2                 0.232558
61                            hipposideros abae             249020                      1                 0.116279
62                       hipposideros cf. ruber            1536428                      1                 0.116279
63                      hipposideros commersoni             110941                      1                 0.116279
64                        hipposideros larvatus             175524                      2                 0.232558
65                             hipposideros sp.                  0                      1                 0.116279
66                        hipposideros vittatus            2603869                      1                 0.116279
67                                 homo sapiens               9606                    162                18.837209
68               homo sapiens sample 4310600038                  0                      1                 0.116279
69                                        horse                  0                      1                 0.116279
70              hydropotes inermis (water deer)                  0                      1                 0.116279
71                                hypsugo savii             109485                      1                 0.116279
72                                kennelled dog                  0                      3                 0.348837
73                                        layer                  0                      1                 0.116279
74                                layer chicken                  0                      1                 0.116279
75                                 magpie-robin                  0                      1                 0.116279
76                               manis javanica               9974                      1                 0.116279
77            manis javanica (malayan pangolin)                  0                      1                 0.116279
78                          meleagris gallopavo               9103                      3                 0.348837
79                          meriones meridianus             261754                      1                 0.116279
80                            microtus agrestis              29092                      1                 0.116279
81                      miniopterus fuliginosus             187007                      1                 0.116279
82               miniopterus fuliginosus, feces                  0                      1                 0.116279
83           miniopterus fuliginosus, intestine                  0                      1                 0.116279
84                   miniopterus inflatus (bat)                  0                      1                 0.116279
85                 miniopterus natalensis (bat)                  0                      1                 0.116279
86                         miniopterus pusillus             258934                      1                 0.116279
87                     miniopterus schreibersii               9433                      2                 0.232558
88                             miniopterus spp.                  0                      1                 0.116279
89                                         mink                  0                      1                 0.116279
90                              murina cyclotis             177185                      1                 0.116279
91                           murina leucogaster             187017                      1                 0.116279
92                             mustela putorius               9668                      1                 0.116279
93                    mustela putorius (ferret)                  0                      1                 0.116279
94               mustela putorius furo (ferret)                  0                      4                 0.465116
95                             myodes rufocanus             527686                      1                 0.116279
96                              myotis brandtii             109478                      1                 0.116279
97                               myotis davidii             225400                      1                 0.116279
98                            myotis ikonnikovi             155915                      1                 0.116279
99                               myotis laniger             452654                      1                 0.116279
100                            myotis lucifugus              59463                      1                 0.116279
101                        myotis macrodactylus             187014                      1                 0.116279
102                             myotis muricola             159330                      1                 0.116279
103                             myotis ricketti             203696                      1                 0.116279
104                       mystacina tuberculata              94961                      1                 0.116279
105                         neoromicia capensis                  0                      1                 0.116279
106                                 night-heron                  0                      1                 0.116279
107                          nyctalus velutinus             187011                      1                 0.116279
108                                nycteris sp.                  0                      1                 0.116279
109                       oryctolagus cuniculus               9986                      1                 0.116279
110                             pan troglodytes               9598                      4                 0.465116
111                                         pig                  0                     16                 1.860465
112                        pipistrellus abramus             105295                      2                 0.232558
113                         pipistrellus kuhlii              59472                      2                 0.232558
114                       pipistrellus nathusii              59473                      1                 0.116279
115                                     porcine                  0                     18                 2.093023
116                                     poultry                  0                      3                 0.348837
117               pre-weaned korean native calf                  0                      1                 0.116279
118                                       quail                  0                      1                 0.116279
119                        rattus argentiventer              83752                      1                 0.116279
120                              rattus exulans              34854                      1                 0.116279
121                        red-whiskered bulbul                  0                      1                 0.116279
122                      rhinolophus acuminatus             320431                      5                 0.581395
123                         rhinolophus affinis              59477                      3                 0.348837
124                          rhinolophus blasii             519037                      1                 0.116279
125                        rhinolophus cornutus             196296                      3                 0.348837
126                         rhinolophus euryale             109476                      1                 0.116279
127                   rhinolophus ferrumequinum              59479                      3                 0.348837
128             rhinolophus ferrumequinum (bat)                  0                      1                 0.116279
129              rhinolophus hipposideros (bat)                  0                      1                 0.116279
130                       rhinolophus malayanus             608659                      3                 0.348837
131                        rhinolophus pusillus             159858                      1                 0.116279
132                         rhinolophus sinicus              89399                      9                 1.046512
133                             rhinolophus sp.            3075052                     10                 1.162791
134                       rhinolophus sp. (bat)                  0                      1                 0.116279
135                          rhinolophus stheno             430491                      1                 0.116279
136                       rousettus aegyptiacus               9407                      2                 0.232558
137                      rousettus leschenaulti               9408                      1                 0.116279
138                               rousettus sp.            1898393                      3                 0.348837
139                          scotophilus kuhlii             153297                      1                 0.116279
140                                   shorebird                  0                      1                 0.116279
141                               sorex araneus              42254                      1                 0.116279
142                                     sparrow                  0                      3                 0.348837
143                              suncus murinus               9378                      1                 0.116279
144                                  sus scrofa               9823                     11                 1.279070
145                                       swine                  0                      9                 1.046512
146                         tadorna tadornoides              45638                      1                 0.116279
147                       tropidophorus sinicus             338351                      1                 0.116279
148                        vespertilio sinensis             105273                      1                 0.116279
149                                   white-eye                  0                      1                 0.116279
150                          white-rumped munia                  0                      1                 0.116279
151                                      wigeon                  0                      1                 0.116279
152                                         yak                  0                      1                 0.116279

### Manual cleanup of 
coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv 

**using**

coronaviridae_s_uniref90_embl_hosts_pruned_metadata_manual_mapping.csv

In [8]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv")
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(860, 10)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species

In [9]:
mapping_file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/manual_mapping_files/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_manual_mapping.csv")
mapping_df = pd.read_csv(mapping_file_path, encoding="unicode_escape")
mapping_df["mapped_virus_host_name"] = mapping_df["mapped_virus_host_name"].apply(lambda x: unicodedata.normalize("NFKD", x))
print(mapping_df.shape)
mapping_df.head()

(54, 3)

                        virus_host_name mapped_virus_host_name  mapped_virus_host_tax_id
0  arenaria interpres (ruddy turnstone)     arenaria interpres                     54971
1                      backyard chicken          gallus gallus                      9031
2                                bovine             bos taurus                      9913
3                               broiler          gallus gallus                      9031
4                       broiler chicken          gallus gallus                      9031

In [10]:
name_name_map = mapping_df.set_index("virus_host_name")["mapped_virus_host_name"].to_dict()
name_name_map

{'arenaria interpres (ruddy turnstone)': 'arenaria interpres',
 'backyard chicken': 'gallus gallus',
 'bovine': 'bos taurus',
 'broiler': 'gallus gallus',
 'broiler chicken': 'gallus gallus',
 'broiler chickens': 'gallus gallus',
 'cardioderma cor (bat)': 'cardioderma cor',
 'cat': 'felis catus',
 'cattle': 'bos taurus',
 'chaerephon pumilus (bat)': 'mops pumilus',
 'chaerephon sp. (bat)': 'chaerephon sp.',
 'chicken': 'gallus gallus',
 'chicken (broiler)': 'gallus gallus',
 'chicken-broiler': 'gallus gallus',
 'chlamydotis sp. (houbara)': 'chlamydotis undulata',
 'common moorhen': 'gallinula chloropus',
 'delphinapterus leucas (beluga whale)': 'delphinapterus leucas',
 'dog': 'canis lupus',
 'eidolon helvum (bat)': 'eidolon helvum',
 'eptesicus fuscus (big brown bat)': 'eptesicus fuscus',
 'felis catus (cat)': 'felis catus',
 'ferret': 'mustela putorius',
 'galliformes sp. (quail)': 'galliformes sp.',
 'gallus domesticus': 'gallus gallus',
 'gallus gallus (48 week-old breeder layers)': 'gallus gallus',
 'gallus gallus (broiler)': 'gallus gallus',
 'gallus gallus (chicken)': 'gallus gallus',
 'gallus gallus domesticus (chicken)': 'gallus gallus',
 'goat': 'capra hircus',
 'guinea fowl': 'numididae sp.',
 'homo sapiens sample 4310600038': 'homo sapiens',
 'horse': 'equus caballus',
 'hydropotes inermis (water deer)': 'hydropotes inermis',
 'kennelled dog': 'canis lupus',
 'layer chicken': 'gallus gallus',
 'manis javanica (malayan pangolin)': 'manis javanica',
 'miniopterus fuliginosus, feces': 'miniopterus fuliginosus',
 'miniopterus fuliginosus, intestine': 'miniopterus fuliginosus',
 'miniopterus inflatus (bat)': 'miniopterus inflatus',
 'miniopterus natalensis (bat)': 'miniopterus natalensis',
 'miniopterus spp.': 'miniopterus sp.',
 'mustela putorius (ferret)': 'mustela putorius',
 'mustela putorius furo (ferret)': 'mustela putorius',
 'neoromicia capensis': 'laephotis capensis',
 'pig': 'sus scrofa',
 'porcine': 'sus scrofa',
 'red-whiskered bulbul': 'pycnonotus jocosus',
 'rhinolophus ferrumequinum (bat)': 'rhinolophus ferrumequinum',
 'rhinolophus hipposideros (bat)': 'rhinolophus hipposideros ',
 'rhinolophus sp. (bat)': 'rhinolophus sp.',
 'swine': 'sus scrofa',
 'white-rumped munia': 'lonchura striata',
 'yak': 'bos grunniens',
 'gallus gallus domesticus': 'gallus gallus'}

In [11]:
name_id_map = mapping_df.set_index("virus_host_name")["mapped_virus_host_tax_id"].to_dict()
name_id_map

{'arenaria interpres (ruddy turnstone)': 54971,
 'backyard chicken': 9031,
 'bovine': 9913,
 'broiler': 9031,
 'broiler chicken': 9031,
 'broiler chickens': 9031,
 'cardioderma cor (bat)': 270764,
 'cat': 9685,
 'cattle': 9913,
 'chaerephon pumilus (bat)': 242384,
 'chaerephon sp. (bat)': 3075048,
 'chicken': 9031,
 'chicken (broiler)': 9031,
 'chicken-broiler': 9031,
 'chlamydotis sp. (houbara)': 172680,
 'common moorhen': 9123,
 'delphinapterus leucas (beluga whale)': 9749,
 'dog': 9612,
 'eidolon helvum (bat)': 77214,
 'eptesicus fuscus (big brown bat)': 29078,
 'felis catus (cat)': 9685,
 'ferret': 9668,
 'galliformes sp. (quail)': 1857023,
 'gallus domesticus': 9031,
 'gallus gallus (48 week-old breeder layers)': 9031,
 'gallus gallus (broiler)': 9031,
 'gallus gallus (chicken)': 9031,
 'gallus gallus domesticus (chicken)': 9031,
 'goat': 9925,
 'guinea fowl': 8997,
 'homo sapiens sample 4310600038': 9606,
 'horse': 9796,
 'hydropotes inermis (water deer)': 9883,
 'kennelled dog': 9612,
 'layer chicken': 9031,
 'manis javanica (malayan pangolin)': 9974,
 'miniopterus fuliginosus, feces': 187007,
 'miniopterus fuliginosus, intestine': 187007,
 'miniopterus inflatus (bat)': 221087,
 'miniopterus natalensis (bat)': 291302,
 'miniopterus spp.': 3075049,
 'mustela putorius (ferret)': 9668,
 'mustela putorius furo (ferret)': 9668,
 'neoromicia capensis': 110938,
 'pig': 9823,
 'porcine': 9823,
 'red-whiskered bulbul': 182897,
 'rhinolophus ferrumequinum (bat)': 59479,
 'rhinolophus hipposideros (bat)': 77218,
 'rhinolophus sp. (bat)': 3075052,
 'swine': 9823,
 'white-rumped munia': 40157,
 'yak': 30521,
 'gallus gallus domesticus': 9031}

In [12]:
name_keys = list(name_name_map.keys())
name_keys

['arenaria interpres (ruddy turnstone)',
 'backyard chicken',
 'bovine',
 'broiler',
 'broiler chicken',
 'broiler chickens',
 'cardioderma cor (bat)',
 'cat',
 'cattle',
 'chaerephon pumilus (bat)',
 'chaerephon sp. (bat)',
 'chicken',
 'chicken (broiler)',
 'chicken-broiler',
 'chlamydotis sp. (houbara)',
 'common moorhen',
 'delphinapterus leucas (beluga whale)',
 'dog',
 'eidolon helvum (bat)',
 'eptesicus fuscus (big brown bat)',
 'felis catus (cat)',
 'ferret',
 'galliformes sp. (quail)',
 'gallus domesticus',
 'gallus gallus (48 week-old breeder layers)',
 'gallus gallus (broiler)',
 'gallus gallus (chicken)',
 'gallus gallus domesticus (chicken)',
 'goat',
 'guinea fowl',
 'homo sapiens sample 4310600038',
 'horse',
 'hydropotes inermis (water deer)',
 'kennelled dog',
 'layer chicken',
 'manis javanica (malayan pangolin)',
 'miniopterus fuliginosus, feces',
 'miniopterus fuliginosus, intestine',
 'miniopterus inflatus (bat)',
 'miniopterus natalensis (bat)',
 'miniopterus spp.',
 'mustela putorius (ferret)',
 'mustela putorius furo (ferret)',
 'neoromicia capensis',
 'pig',
 'porcine',
 'red-whiskered bulbul',
 'rhinolophus ferrumequinum (bat)',
 'rhinolophus hipposideros (bat)',
 'rhinolophus sp. (bat)',
 'swine',
 'white-rumped munia',
 'yak',
 'gallus gallus domesticus']

### Update order: rank, tax_id, name (order is important)
#### 1. Update virus_host_taxon_rank

In [13]:
df["virus_host_taxon_rank"] = df.apply(lambda x: "species" if x["virus_host_name"] in name_keys else x["virus_host_taxon_rank"], axis=1)

#### 2. Update virus_host_tax_id

In [14]:
df["virus_host_tax_id"] = df.apply(lambda x: name_id_map[x["virus_host_name"]] if x["virus_host_name"] in name_keys else x["virus_host_tax_id"], axis=1)

In [15]:
df[df["virus_host_name"].isin(name_keys)][["virus_host_name", "virus_host_tax_id", "virus_host_taxon_rank"]]

                                virus_host_name  virus_host_tax_id virus_host_taxon_rank
9                                       chicken               9031               species
10                                          dog               9612               species
11                                      chicken               9031               species
12                                      chicken               9031               species
13                                          dog               9612               species
14         delphinapterus leucas (beluga whale)               9749               species
15                                      chicken               9031               species
20                         red-whiskered bulbul             182897               species
23                              broiler chicken               9031               species
24                           white-rumped munia              40157               species
25                                      chicken               9031               species
26                                      chicken               9031               species
27                                      chicken               9031               species
28                                      chicken               9031               species
29                                      chicken               9031               species
30                                      chicken               9031               species
31                                      chicken               9031               species
34                                      chicken               9031               species
38                                        swine               9823               species
40                            chicken (broiler)               9031               species
41                                      chicken               9031               species
42                            chicken (broiler)               9031               species
44                                      chicken               9031               species
45                                      chicken               9031               species
46                                      chicken               9031               species
47                            felis catus (cat)               9685               species
48                                      chicken               9031               species
50                            felis catus (cat)               9685               species
51                                      chicken               9031               species
52                            felis catus (cat)               9685               species
54                                          cat               9685               species
56                                      chicken               9031               species
58                                      chicken               9031               species
59           gallus gallus domesticus (chicken)               9031               species
60                                      chicken               9031               species
64                                      chicken               9031               species
73                                          pig               9823               species
74                                          pig               9823               species
77                                      chicken               9031               species
85                                      chicken               9031               species
87                                      chicken               9031               species
88                                      chicken               9031               species
98               mustela putorius furo (ferret)               9668               species
100                                      ferret               9668               species
101                   mustela putorius (ferret)               9668               species
102                                      ferret               9668               species
104                             broiler chicken               9031               species
106                     gallus gallus (chicken)               9031               species
108                                     chicken               9031               species
112                                     chicken               9031               species
122                                     chicken               9031               species
123                    gallus gallus domesticus               9031               species
125                    gallus gallus domesticus               9031               species
126                                     chicken               9031               species
127                    gallus gallus domesticus               9031               species
128                                     chicken               9031               species
129                                     chicken               9031               species
130                    gallus gallus domesticus               9031               species
131                                     chicken               9031               species
132                    gallus gallus domesticus               9031               species
133                                         pig               9823               species
134                    gallus gallus domesticus               9031               species
136                    gallus gallus domesticus               9031               species
138                    gallus gallus domesticus               9031               species
139                                     chicken               9031               species
140  gallus gallus (48 week-old breeder layers)               9031               species
141                                     chicken               9031               species
142                                     chicken               9031               species
143                                     chicken               9031               species
144            eptesicus fuscus (big brown bat)              29078               species
146            eptesicus fuscus (big brown bat)              29078               species
148            eptesicus fuscus (big brown bat)              29078               species
149                                     porcine               9823               species
151                                     porcine               9823               species
153                                     porcine               9823               species
155                                     porcine               9823               species
156                                         cat               9685               species
157                                     porcine               9823               species
158                     gallus gallus (chicken)               9031               species
159                                     porcine               9823               species
160                     gallus gallus (chicken)               9031               species
161                                     porcine               9823               species
162                     gallus gallus (chicken)               9031               species
163                                     porcine               9823               species
164                     gallus gallus (chicken)               9031               species
165                                     porcine               9823               species
166                     gallus gallus (chicken)               9031               species
167                                     porcine               9823               species
169                                         pig               9823               species
170                       cardioderma cor (bat)             270764               species
171                    chaerephon pumilus (bat)             242384               species
172                        eidolon helvum (bat)              77214               species
174                miniopterus natalensis (bat)             291302               species
175                  miniopterus inflatus (bat)             221087               species
176                        chaerephon sp. (bat)            3075048               species
181                                     chicken               9031               species
182                                     chicken               9031               species
183                                         cat               9685               species
184                                     chicken               9031               species
186                                     chicken               9031               species
187                                     chicken               9031               species
188          miniopterus fuliginosus, intestine             187007               species
189              miniopterus fuliginosus, feces             187007               species
190                                     chicken               9031               species
192                                     chicken               9031               species
197                                      ferret               9668               species
199                                     chicken               9031               species
203                                     chicken               9031               species
204                                     chicken               9031               species
206                                     chicken               9031               species
208                                     chicken               9031               species
210                                     chicken               9031               species
213                                     chicken               9031               species
217                                     porcine               9823               species
218                                       swine               9823               species
219                                     chicken               9031               species
220                                       swine               9823               species
221                                     chicken               9031               species
222                                     chicken               9031               species
224                                     chicken               9031               species
225                                     chicken               9031               species
227                                         cat               9685               species
231                                     porcine               9823               species
233                                      ferret               9668               species
236                              common moorhen               9123               species
247                                     chicken               9031               species
250                                     chicken               9031               species
252                                     chicken               9031               species
255                                     chicken               9031               species
256                                     chicken               9031               species
263                                     chicken               9031               species
265                                     chicken               9031               species
270                                         pig               9823               species
272                                         pig               9823               species
274                                         pig               9823               species
277                               kennelled dog               9612               species
278                                         cat               9685               species
279                               kennelled dog               9612               species
280                                         cat               9685               species
281                               kennelled dog               9612               species
282                                         cat               9685               species
283                                         cat               9685               species
284                                     porcine               9823               species
285                                         cat               9685               species
286                                         cat               9685               species
287                                     chicken               9031               species
289                                     chicken               9031               species
290                                     chicken               9031               species
291                                     porcine               9823               species
292                             broiler chicken               9031               species
293                             broiler chicken               9031               species
295                                     chicken               9031               species
300                                      cattle               9913               species
301                                     chicken               9031               species
315                                       swine               9823               species
319             hydropotes inermis (water deer)               9883               species
330              mustela putorius furo (ferret)               9668               species
342                                     chicken               9031               species
343                                     chicken               9031               species
344                                     chicken               9031               species
345                                     chicken               9031               species
346                                     chicken               9031               species
347                                     chicken               9031               species
348                                     chicken               9031               species
353                                         pig               9823               species
354                                     chicken               9031               species
359                                     chicken               9031               species
381                                      bovine               9913               species
383                   chlamydotis sp. (houbara)             172680               species
385                     galliformes sp. (quail)            1857023               species
387                                         pig               9823               species
388                             broiler chicken               9031               species
391                                     chicken               9031               species
393                                     chicken               9031               species
394                               layer chicken               9031               species
401                             broiler chicken               9031               species
402                             broiler chicken               9031               species
403                            backyard chicken               9031               species
405                             broiler chicken               9031               species
410                                     chicken               9031               species
411                                     chicken               9031               species
412                                     chicken               9031               species
413                                     chicken               9031               species
414                                     chicken               9031               species
415                                     chicken               9031               species
416                                     chicken               9031               species
417                                     chicken               9031               species
418                                     chicken               9031               species
419                                     chicken               9031               species
420                                     chicken               9031               species
421                                     porcine               9823               species
424                                         pig               9823               species
425                                     chicken               9031               species
426                                         cat               9685               species
427                                         cat               9685               species
428                                         cat               9685               species
429                                         cat               9685               species
430                                         cat               9685               species
432                                     broiler               9031               species
433                                     broiler               9031               species
434                                      ferret               9668               species
436                                     broiler               9031               species
439                       rhinolophus sp. (bat)            3075052               species
440                                     chicken               9031               species
441                                     chicken               9031               species
442                                     chicken               9031               species
443                                     chicken               9031               species
444                                     chicken               9031               species
445                                     chicken               9031               species
446                                     chicken               9031               species
454                                         cat               9685               species
456                                         cat               9685               species
460                                     porcine               9823               species
461                     gallus gallus (chicken)               9031               species
462                                     chicken               9031               species
463                                     chicken               9031               species
465                                 guinea fowl               8997               species
466                                 guinea fowl               8997               species
467                                         dog               9612               species
469                            miniopterus spp.            3075049               species
471                                         yak              30521               species
472                                     chicken               9031               species
483                                        goat               9925               species

#### 3. Update virus_host_name

In [16]:
df["virus_host_name"] = df.apply(lambda x: name_name_map[x["virus_host_name"]] if x["virus_host_name"] in name_keys else x["virus_host_name"], axis=1)

In [17]:
df[["embl_host_name", "virus_host_name", "virus_host_tax_id", "virus_host_taxon_rank"]]

                                        embl_host_name                virus_host_name  virus_host_tax_id virus_host_taxon_rank
0                                     ['Homo sapiens']                   homo sapiens               9606               species
1                                     ['Homo sapiens']                   homo sapiens               9606               species
2                                     ['Homo sapiens']                   homo sapiens               9606               species
3                                     ['Homo sapiens']                   homo sapiens               9606               species
4                                     ['Homo sapiens']                   homo sapiens               9606               species
5                                     ['Homo sapiens']                   homo sapiens               9606               species
6                                     ['Homo sapiens']                   homo sapiens               9606               species
7                                     ['Homo sapiens']                   homo sapiens               9606               species
8                                            ['quail']                          quail                  0                   NaN
9                                          ['chicken']                  gallus gallus               9031               species
10                                             ['dog']                    canis lupus               9612               species
11                                         ['chicken']                  gallus gallus               9031               species
12                                         ['chicken']                  gallus gallus               9031               species
13                                             ['dog']                    canis lupus               9612               species
14            ['Delphinapterus leucas (beluga whale)']          delphinapterus leucas               9749               species
15                                         ['chicken']                  gallus gallus               9031               species
16                                   ['Gallus gallus']                  gallus gallus               9031               species
17                                   ['Gallus gallus']                  gallus gallus               9031               species
18                                   ['Gallus gallus']                  gallus gallus               9031               species
19                                   ['Gallus gallus']                  gallus gallus               9031               species
20                            ['red-whiskered bulbul']             pycnonotus jocosus             182897               species
21                                   ['Gallus gallus']                  gallus gallus               9031               species
22                              ['grey-backed thrush']             grey-backed thrush             411519               species
23                                 ['broiler chicken']                  gallus gallus               9031               species
24                              ['white-rumped munia']               lonchura striata              40157               species
25                                         ['chicken']                  gallus gallus               9031               species
26                                         ['chicken']                  gallus gallus               9031               species
27                                         ['chicken']                  gallus gallus               9031               species
28                                         ['chicken']                  gallus gallus               9031               species
29                                         ['chicken']                  gallus gallus               9031               species
30                                         ['chicken']                  gallus gallus               9031               species
31                                         ['chicken']                  gallus gallus               9031               species
32                       ['Rhinolophus Ferrumequinum']      rhinolophus ferrumequinum              59479               species
33                                   ['Gallus gallus']                  gallus gallus               9031               species
34                                         ['chicken']                  gallus gallus               9031               species
35                           ['Mustela putorius furo']               mustela putorius               9668               species
36                                    ['Homo sapiens']                   homo sapiens               9606               species
37                                   ['Gallus gallus']                  gallus gallus               9031               species
38                                           ['swine']                     sus scrofa               9823               species
39                                   ['Gallus gallus']                  gallus gallus               9031               species
40                               ['chicken (broiler)']                  gallus gallus               9031               species
41                                         ['chicken']                  gallus gallus               9031               species
42                               ['chicken (broiler)']                  gallus gallus               9031               species
43                          ['Canis lupus familiaris']                    canis lupus               9612               species
44                                         ['chicken']                  gallus gallus               9031               species
45                                         ['chicken']                  gallus gallus               9031               species
46                                         ['chicken']                  gallus gallus               9031               species
47                               ['Felis catus (cat)']                    felis catus               9685               species
48                                         ['chicken']                  gallus gallus               9031               species
49                                    ['Homo sapiens']                   homo sapiens               9606               species
50                               ['Felis catus (cat)']                    felis catus               9685               species
51                                         ['chicken']                  gallus gallus               9031               species
52                               ['Felis catus (cat)']                    felis catus               9685               species
53                             ['Rhinolophus euryale']            rhinolophus euryale             109476               species
54                                             ['cat']                    felis catus               9685               species
55                          ['Hipposideros cf. ruber']         hipposideros cf. ruber            1536428               species
56                                         ['chicken']                  gallus gallus               9031               species
57                               ['Hipposideros abae']              hipposideros abae             249020               species
58                                         ['chicken']                  gallus gallus               9031               species
59              ['Gallus gallus domesticus (chicken)']                  gallus gallus               9031               species
60                                         ['chicken']                  gallus gallus               9031               species
61                                   ['Gallus gallus']                  gallus gallus               9031               species
62                         ['Miniopterus fuliginosus']        miniopterus fuliginosus             187007               species
63                                   ['Gallus gallus']                  gallus gallus               9031               species
64                                         ['chicken']                  gallus gallus               9031               species
65                       ['Rhinolophus ferrumequinum']      rhinolophus ferrumequinum              59479               species
66                              ['Nyctalus velutinus']             nyctalus velutinus             187011               species
67                                 ['Myotis ricketti']                myotis ricketti             203696               species
68                             ['Rhinolophus sinicus']            rhinolophus sinicus              89399               species
69                            ['Pipistrellus abramus']           pipistrellus abramus             105295               species
70                       ['Rhinolophus ferrumequinum']      rhinolophus ferrumequinum              59479               species
71                             ['Rhinolophus sinicus']            rhinolophus sinicus              89399               species
72                          ['Canis lupus familiaris']                    canis lupus               9612               species
73                                             ['pig']                     sus scrofa               9823               species
74                                             ['pig']                     sus scrofa               9823               species
75                          ['Canis lupus familiaris']                    canis lupus               9612               species
76                          ['Canis lupus familiaris']                    canis lupus               9612               species
77                                         ['chicken']                  gallus gallus               9031               species
78                                      ['Sus scrofa']                     sus scrofa               9823               species
79                                      ['Sus scrofa']                     sus scrofa               9823               species
80                                     ['Felis catus']                    felis catus               9685               species
81                                    ['Homo sapiens']                   homo sapiens               9606               species
82                             ['Rhinolophus sinicus']            rhinolophus sinicus              89399               species
83                                    ['Homo sapiens']                   homo sapiens               9606               species
84                                    ['Homo sapiens']                   homo sapiens               9606               species
85                                         ['chicken']                  gallus gallus               9031               species
86                                    ['Homo sapiens']                   homo sapiens               9606               species
87                                         ['chicken']                  gallus gallus               9031               species
88                                         ['chicken']                  gallus gallus               9031               species
89                                    ['Homo sapiens']                   homo sapiens               9606               species
90                                   ['Gallus gallus']                  gallus gallus               9031               species
91                                   ['Gallus gallus']                  gallus gallus               9031               species
92                                   ['Gallus gallus']                  gallus gallus               9031               species
93                                   ['Gallus gallus']                  gallus gallus               9031               species
94                                   ['Gallus gallus']                  gallus gallus               9031               species
95                              ['Murina leucogaster']             murina leucogaster             187017               species
96                                          ['feline']                         feline                  0                   NaN
97                             ['Rhinolophus sinicus']            rhinolophus sinicus              89399               species
98                  ['Mustela putorius furo (ferret)']               mustela putorius               9668               species
99                                   ['Gallus gallus']                  gallus gallus               9031               species
100                                         ['ferret']               mustela putorius               9668               species
101                      ['Mustela putorius (ferret)']               mustela putorius               9668               species
102                                         ['ferret']               mustela putorius               9668               species
103                                  ['Gallus gallus']                  gallus gallus               9031               species
104                                ['broiler chicken']                  gallus gallus               9031               species
105                                            ['bat']                            bat                  0                   NaN
106                        ['Gallus gallus (chicken)']                  gallus gallus               9031               species
107                                     ['Sus scrofa']                     sus scrofa               9823               species
108                                        ['chicken']                  gallus gallus               9031               species
109                                  ['Gallus gallus']                  gallus gallus               9031               species
110                                  ['Gallus gallus']                  gallus gallus               9031               species
111                                         ['feline']                         feline                  0                   NaN
112                                        ['chicken']                  gallus gallus               9031               species
113                                         ['feline']                         feline                  0                   NaN
114                          ['Cynomops planirostris']          cynomops planirostris             409018               species
115                             ['Rhinolophus blasii']             rhinolophus blasii             519037               species
116                                    ['bat BF_258I']                    bat bf_258i                  0                   NaN
117                                    ['bat BF_506I']                    bat bf_506i                  0                   NaN
118                                  ['Columba livia']                  columba livia               8932               species
119                                  ['Columba livia']                  columba livia               8932               species
120                         ['Rousettus leschenaulti']         rousettus leschenaulti               9408               species
121                                  ['Columba livia']                  columba livia               8932               species
122                                        ['chicken']                  gallus gallus               9031               species
123                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
124  ['Oryctolagus cuniculus; breed: New Zealand ra...          oryctolagus cuniculus               9986               species
125                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
126                                        ['chicken']                  gallus gallus               9031               species
127                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
128                                        ['chicken']                  gallus gallus               9031               species
129                                        ['chicken']                  gallus gallus               9031               species
130                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
131                                        ['chicken']                  gallus gallus               9031               species
132                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
133                                            ['pig']                     sus scrofa               9823               species
134                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
135                               ['Hipposideros sp.']               hipposideros sp.                  0                   NaN
136                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
137                          ['Hipposideros vittatus']          hipposideros vittatus            2603869               species
138                       ['Gallus gallus domesticus']                  gallus gallus               9031               species
139                                        ['chicken']                  gallus gallus               9031               species
140     ['Gallus gallus (48 week-old breeder layers)']                  gallus gallus               9031               species
141                                        ['chicken']                  gallus gallus               9031               species
142                                        ['chicken']                  gallus gallus               9031               species
143                                        ['chicken']                  gallus gallus               9031               species
144               ['Eptesicus fuscus (big brown bat)']               eptesicus fuscus              29078               species
145                                   ['Homo sapiens']                   homo sapiens               9606               species
146               ['Eptesicus fuscus (big brown bat)']               eptesicus fuscus              29078               species
147                         ['Canis lupus familiaris']                    canis lupus               9612               species
148               ['Eptesicus fuscus (big brown bat)']               eptesicus fuscus              29078               species
149                                        ['porcine']                     sus scrofa               9823               species
150                            ['Meleagris gallopavo']            meleagris gallopavo               9103               species
151                                        ['porcine']                     sus scrofa               9823               species
152                               ['Canis familiaris']                    canis lupus               9612               species
153                                        ['porcine']                     sus scrofa               9823               species
154                               ['Canis familiaris']                    canis lupus               9612               species
155                                        ['porcine']                     sus scrofa               9823               species

In [19]:
print(df.shape)
df.head()

(860, 10)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species

In [20]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected.csv")
df.to_csv(file_path, index=False)

### coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq.csv

Filter based on host prevalence

In [36]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq.csv")
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(814, 11)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank                                                seq
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  AFAVIGDLKCPLDTSRKGSFNNKDTGPPFISTDTVDVTNGLGTYYV...
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNDRDTGPPSISTDTV...
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPRLKGSFNDRDTGPPSISTDTV...
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNNRDTGPPSISTDTV...
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDTRLKGSFNNRDTGPPSISTDTV...

In [37]:
column_stats(df, "virus_host_name")

Number of unique values = 98
              virus_host_name  virus_host_name_count  virus_host_name_percent
0               gallus gallus                    332                40.786241
1                homo sapiens                    163                20.024570
2                 felis catus                     68                 8.353808
3                  sus scrofa                     54                 6.633907
4                 canis lupus                     33                 4.054054
5             rhinolophus sp.                     11                 1.351351
6            mustela putorius                     11                 1.351351
7         rhinolophus sinicus                      9                 1.105651
8      rhinolophus acuminatus                      5                 0.614251
9              eidolon helvum                      4                 0.491400
10            pan troglodytes                      4                 0.491400
11  rhinolophus ferrumequinum                      4                 0.491400
12           eptesicus fuscus                      4                 0.491400
13      rhinolophus malayanus                      3                 0.368550
14          anas superciliosa                      3                 0.368550
15              columba livia                      3                 0.368550
16                 bos taurus                      3                 0.368550
17        rhinolophus affinis                      3                 0.368550
18       rhinolophus cornutus                      3                 0.368550
19        meleagris gallopavo                      3                 0.368550
20              rousettus sp.                      3                 0.368550
21    miniopterus fuliginosus                      3                 0.368550
22       pipistrellus abramus                      2                 0.245700
23             manis javanica                      2                 0.245700
24        camelus dromedarius                      2                 0.245700
25   miniopterus schreibersii                      2                 0.245700
26          desmodus rotundus                      2                 0.245700
27        pipistrellus kuhlii                      2                 0.245700
28      hipposideros larvatus                      2                 0.245700
29              numididae sp.                      2                 0.245700
30      rousettus aegyptiacus                      2                 0.245700
31          cynopterus sphinx                      1                 0.122850
32           lonchura striata                      1                 0.122850
33        tadorna tadornoides                      1                 0.122850
34             equus caballus                      1                 0.122850
35            crocuta crocuta                      1                 0.122850
36              anas gracilis                      1                 0.122850
37       vespertilio sinensis                      1                 0.122850
38         grey-backed thrush                      1                 0.122850
39          branta canadensis                      1                 0.122850
40       myotis macrodactylus                      1                 0.122850
41          myotis ikonnikovi                      1                 0.122850
42            myotis brandtii                      1                 0.122850
43        erinaceus amurensis                      1                 0.122850
44           myotis lucifugus                      1                 0.122850
45         scotophilus kuhlii                      1                 0.122850
46           bandicota indica                      1                 0.122850
47            murina cyclotis                      1                 0.122850
48            myotis muricola                      1                 0.122850
49         rhinolophus stheno                      1                 0.122850
50  rhinolophus hipposideros                       1                 0.122850
51         arenaria interpres                      1                 0.122850
52      mystacina tuberculata                      1                 0.122850
53          bandicota savilei                      1                 0.122850
54       miniopterus pusillus                      1                 0.122850
55             rattus exulans                      1                 0.122850
56      delphinapterus leucas                      1                 0.122850
57         laephotis capensis                      1                 0.122850
58        erinaceus europaeus                      1                 0.122850
59         pycnonotus jocosus                      1                 0.122850
60              bos grunniens                      1                 0.122850
61               capra hircus                      1                 0.122850
62         rhinolophus blasii                      1                 0.122850
63          microtus agrestis                      1                 0.122850
64            myotis ricketti                      1                 0.122850
65             suncus murinus                      1                 0.122850
66        gallinula chloropus                      1                 0.122850
67             myotis davidii                      1                 0.122850
68             chaerephon sp.                      1                 0.122850
69       miniopterus inflatus                      1                 0.122850
70     miniopterus natalensis                      1                 0.122850
71               mops pumilus                      1                 0.122850
72           myodes rufocanus                      1                 0.122850
73            cardioderma cor                      1                 0.122850
74    hipposideros commersoni                      1                 0.122850
75         murina leucogaster                      1                 0.122850
76      hipposideros vittatus                      1                 0.122850
77      oryctolagus cuniculus                      1                 0.122850
78     rousettus leschenaulti                      1                 0.122850
79        meriones meridianus                      1                 0.122850
80              sorex araneus                      1                 0.122850
81            miniopterus sp.                      1                 0.122850
82     hipposideros cf. ruber                      1                 0.122850
83      cynomops planirostris                      1                 0.122850
84       rattus argentiventer                      1                 0.122850
85          coturnix japonica                      1                 0.122850
86            galliformes sp.                      1                 0.122850
87       chlamydotis undulata                      1                 0.122850
88        rhinolophus euryale                      1                 0.122850
89      pipistrellus nathusii                      1                 0.122850
90         allactaga sibirica                      1                 0.122850
91       rhinolophus pusillus                      1                 0.122850
92          hipposideros abae                      1                 0.122850
93         hydropotes inermis                      1                 0.122850
94      tropidophorus sinicus                      1                 0.122850
95         nyctalus velutinus                      1                 0.122850
96              hypsugo savii                      1                 0.122850
97             myotis laniger                      1                 0.122850

              virus_host_name  virus_host_name_count  virus_host_name_percent
0               gallus gallus                    332                40.786241
1                homo sapiens                    163                20.024570
2                 felis catus                     68                 8.353808
3                  sus scrofa                     54                 6.633907
4                 canis lupus                     33                 4.054054
5             rhinolophus sp.                     11                 1.351351
6            mustela putorius                     11                 1.351351
7         rhinolophus sinicus                      9                 1.105651
8      rhinolophus acuminatus                      5                 0.614251
9              eidolon helvum                      4                 0.491400
10            pan troglodytes                      4                 0.491400
11  rhinolophus ferrumequinum                      4                 0.491400
12           eptesicus fuscus                      4                 0.491400
13      rhinolophus malayanus                      3                 0.368550
14          anas superciliosa                      3                 0.368550
15              columba livia                      3                 0.368550
16                 bos taurus                      3                 0.368550
17        rhinolophus affinis                      3                 0.368550
18       rhinolophus cornutus                      3                 0.368550
19        meleagris gallopavo                      3                 0.368550
20              rousettus sp.                      3                 0.368550
21    miniopterus fuliginosus                      3                 0.368550
22       pipistrellus abramus                      2                 0.245700
23             manis javanica                      2                 0.245700
24        camelus dromedarius                      2                 0.245700
25   miniopterus schreibersii                      2                 0.245700
26          desmodus rotundus                      2                 0.245700
27        pipistrellus kuhlii                      2                 0.245700
28      hipposideros larvatus                      2                 0.245700
29              numididae sp.                      2                 0.245700
30      rousettus aegyptiacus                      2                 0.245700
31          cynopterus sphinx                      1                 0.122850
32           lonchura striata                      1                 0.122850
33        tadorna tadornoides                      1                 0.122850
34             equus caballus                      1                 0.122850
35            crocuta crocuta                      1                 0.122850
36              anas gracilis                      1                 0.122850
37       vespertilio sinensis                      1                 0.122850
38         grey-backed thrush                      1                 0.122850
39          branta canadensis                      1                 0.122850
40       myotis macrodactylus                      1                 0.122850
41          myotis ikonnikovi                      1                 0.122850
42            myotis brandtii                      1                 0.122850
43        erinaceus amurensis                      1                 0.122850
44           myotis lucifugus                      1                 0.122850
45         scotophilus kuhlii                      1                 0.122850
46           bandicota indica                      1                 0.122850
47            murina cyclotis                      1                 0.122850
48            myotis muricola                      1                 0.122850
49         rhinolophus stheno                      1                 0.122850
50  rhinolophus hipposideros                       1                 0.122850
51         arenaria interpres                      1                 0.122850
52      mystacina tuberculata                      1                 0.122850
53          bandicota savilei                      1                 0.122850
54       miniopterus pusillus                      1                 0.122850
55             rattus exulans                      1                 0.122850
56      delphinapterus leucas                      1                 0.122850
57         laephotis capensis                      1                 0.122850
58        erinaceus europaeus                      1                 0.122850
59         pycnonotus jocosus                      1                 0.122850
60              bos grunniens                      1                 0.122850
61               capra hircus                      1                 0.122850
62         rhinolophus blasii                      1                 0.122850
63          microtus agrestis                      1                 0.122850
64            myotis ricketti                      1                 0.122850
65             suncus murinus                      1                 0.122850
66        gallinula chloropus                      1                 0.122850
67             myotis davidii                      1                 0.122850
68             chaerephon sp.                      1                 0.122850
69       miniopterus inflatus                      1                 0.122850
70     miniopterus natalensis                      1                 0.122850
71               mops pumilus                      1                 0.122850
72           myodes rufocanus                      1                 0.122850
73            cardioderma cor                      1                 0.122850
74    hipposideros commersoni                      1                 0.122850
75         murina leucogaster                      1                 0.122850
76      hipposideros vittatus                      1                 0.122850
77      oryctolagus cuniculus                      1                 0.122850
78     rousettus leschenaulti                      1                 0.122850
79        meriones meridianus                      1                 0.122850
80              sorex araneus                      1                 0.122850
81            miniopterus sp.                      1                 0.122850
82     hipposideros cf. ruber                      1                 0.122850
83      cynomops planirostris                      1                 0.122850
84       rattus argentiventer                      1                 0.122850
85          coturnix japonica                      1                 0.122850
86            galliformes sp.                      1                 0.122850
87       chlamydotis undulata                      1                 0.122850
88        rhinolophus euryale                      1                 0.122850
89      pipistrellus nathusii                      1                 0.122850
90         allactaga sibirica                      1                 0.122850
91       rhinolophus pusillus                      1                 0.122850
92          hipposideros abae                      1                 0.122850
93         hydropotes inermis                      1                 0.122850
94      tropidophorus sinicus                      1                 0.122850
95         nyctalus velutinus                      1                 0.122850
96              hypsugo savii                      1                 0.122850
97             myotis laniger                      1                 0.122850

**Number of host classes**

In [38]:
# 1% cutoff
filtered_df = filter_with_threshold(df, "virus_host_name", 1)

Size of df = (814, 11)
Number of unique values = 98
              virus_host_name  virus_host_name_count  virus_host_name_percent
0               gallus gallus                    332                40.786241
1                homo sapiens                    163                20.024570
2                 felis catus                     68                 8.353808
3                  sus scrofa                     54                 6.633907
4                 canis lupus                     33                 4.054054
5             rhinolophus sp.                     11                 1.351351
6            mustela putorius                     11                 1.351351
7         rhinolophus sinicus                      9                 1.105651
8      rhinolophus acuminatus                      5                 0.614251
9              eidolon helvum                      4                 0.491400
10            pan troglodytes                      4                 0.491400
11  rhinolophus ferrumequinum                      4                 0.491400
12           eptesicus fuscus                      4                 0.491400
13      rhinolophus malayanus                      3                 0.368550
14          anas superciliosa                      3                 0.368550
15              columba livia                      3                 0.368550
16                 bos taurus                      3                 0.368550
17        rhinolophus affinis                      3                 0.368550
18       rhinolophus cornutus                      3                 0.368550
19        meleagris gallopavo                      3                 0.368550
20              rousettus sp.                      3                 0.368550
21    miniopterus fuliginosus                      3                 0.368550
22       pipistrellus abramus                      2                 0.245700
23             manis javanica                      2                 0.245700
24        camelus dromedarius                      2                 0.245700
25   miniopterus schreibersii                      2                 0.245700
26          desmodus rotundus                      2                 0.245700
27        pipistrellus kuhlii                      2                 0.245700
28      hipposideros larvatus                      2                 0.245700
29              numididae sp.                      2                 0.245700
30      rousettus aegyptiacus                      2                 0.245700
31          cynopterus sphinx                      1                 0.122850
32           lonchura striata                      1                 0.122850
33        tadorna tadornoides                      1                 0.122850
34             equus caballus                      1                 0.122850
35            crocuta crocuta                      1                 0.122850
36              anas gracilis                      1                 0.122850
37       vespertilio sinensis                      1                 0.122850
38         grey-backed thrush                      1                 0.122850
39          branta canadensis                      1                 0.122850
40       myotis macrodactylus                      1                 0.122850
41          myotis ikonnikovi                      1                 0.122850
42            myotis brandtii                      1                 0.122850
43        erinaceus amurensis                      1                 0.122850
44           myotis lucifugus                      1                 0.122850
45         scotophilus kuhlii                      1                 0.122850
46           bandicota indica                      1                 0.122850
47            murina cyclotis                      1                 0.122850
48            myotis muricola                      1                 0.122850
49         rhinolophus stheno                      1                 0.122850
50  rhinolophus hipposideros                       1                 0.122850
51         arenaria interpres                      1                 0.122850
52      mystacina tuberculata                      1                 0.122850
53          bandicota savilei                      1                 0.122850
54       miniopterus pusillus                      1                 0.122850
55             rattus exulans                      1                 0.122850
56      delphinapterus leucas                      1                 0.122850
57         laephotis capensis                      1                 0.122850
58        erinaceus europaeus                      1                 0.122850
59         pycnonotus jocosus                      1                 0.122850
60              bos grunniens                      1                 0.122850
61               capra hircus                      1                 0.122850
62         rhinolophus blasii                      1                 0.122850
63          microtus agrestis                      1                 0.122850
64            myotis ricketti                      1                 0.122850
65             suncus murinus                      1                 0.122850
66        gallinula chloropus                      1                 0.122850
67             myotis davidii                      1                 0.122850
68             chaerephon sp.                      1                 0.122850
69       miniopterus inflatus                      1                 0.122850
70     miniopterus natalensis                      1                 0.122850
71               mops pumilus                      1                 0.122850
72           myodes rufocanus                      1                 0.122850
73            cardioderma cor                      1                 0.122850
74    hipposideros commersoni                      1                 0.122850
75         murina leucogaster                      1                 0.122850
76      hipposideros vittatus                      1                 0.122850
77      oryctolagus cuniculus                      1                 0.122850
78     rousettus leschenaulti                      1                 0.122850
79        meriones meridianus                      1                 0.122850
80              sorex araneus                      1                 0.122850
81            miniopterus sp.                      1                 0.122850
82     hipposideros cf. ruber                      1                 0.122850
83      cynomops planirostris                      1                 0.122850
84       rattus argentiventer                      1                 0.122850
85          coturnix japonica                      1                 0.122850
86            galliformes sp.                      1                 0.122850
87       chlamydotis undulata                      1                 0.122850
88        rhinolophus euryale                      1                 0.122850
89      pipistrellus nathusii                      1                 0.122850
90         allactaga sibirica                      1                 0.122850
91       rhinolophus pusillus                      1                 0.122850
92          hipposideros abae                      1                 0.122850
93         hydropotes inermis                      1                 0.122850
94      tropidophorus sinicus                      1                 0.122850
95         nyctalus velutinus                      1                 0.122850
96              hypsugo savii                      1                 0.122850
97             myotis laniger                      1                 0.122850
Size of filtered df = (681, 11)
Number of unique values = 8
       virus_host_name  virus_host_name_count  virus_host_name_percent
0        gallus gallus                    332                40.786241
1         homo sapiens                    163                20.024570
2          felis catus                     68                 8.353808
3           sus scrofa                     54                 6.633907
4          canis lupus                     33                 4.054054
5     mustela putorius                     11                 1.351351
6      rhinolophus sp.                     11                 1.351351
7  rhinolophus sinicus                      9                 1.105651

In [13]:
output_file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq_t0.01_c8.csv")
filtered_df["human_binary_label"] = filtered_df.apply(lambda x: "homo sapiens" if x["virus_host_name"] == "homo sapiens" else "NOT homo sapiens", axis=1)
filtered_df.to_csv(output_file_path, index=False)

## Coronaviridae - S protein - Human infecting

In [15]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq_t0.01_c8.csv")
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(681, 12)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank                                                seq human_binary_label
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  AFAVIGDLKCPLDTSRKGSFNNKDTGPPFISTDTVDVTNGLGTYYV...       homo sapiens
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNDRDTGPPSISTDTV...       homo sapiens
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPRLKGSFNDRDTGPPSISTDTV...       homo sapiens
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNNRDTGPPSISTDTV...       homo sapiens
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDTRLKGSFNNRDTGPPSISTDTV...       homo sapiens

In [16]:
column_stats(df, "virus_name")

Number of unique values = 37
                                           virus_name  virus_name_count  virus_name_percent
0                         Infectious bronchitis virus               271           39.794420
1     Severe acute respiratory syndrome coronavirus 2                93           13.656388
2                                  Feline coronavirus                63            9.251101
3                                   Avian coronavirus                60            8.810573
4                              Human coronavirus OC43                51            7.488987
5                     Porcine epidemic diarrhea virus                47            6.901615
6                                  Canine coronavirus                17            2.496329
7                                  Alphacoronavirus 1                15            2.202643
8   Swine acute diarrhea syndrome related coronavirus                 8            1.174743
9                                       Coronaviridae                 8            1.174743
10                                 Ferret coronavirus                 7            1.027900
11                             Human coronavirus HKU1                 5            0.734214
12  Middle East respiratory syndrome-related coron...                 3            0.440529
13                         unclassified Coronavirinae                 3            0.440529
14                Feline infectious peritonitis virus                 3            0.440529
15                             Human coronavirus 229E                 3            0.440529
16                                   Alphacoronavirus                 2            0.293686
17                             Human coronavirus NL63                 2            0.293686
18                                 Orthocoronavirinae                 2            0.293686
19                      Avian coronavirus IA1162/2020                 1            0.146843
20  Severe acute respiratory syndrome-related coro...                 1            0.146843
21                           Porcine deltacoronavirus                 1            0.146843
22                    Coronavirus BtRl-BetaCoV/SC2018                 1            0.146843
23                    Canine coronavirus isolate NJ17                 1            0.146843
24                     Canine respiratory coronavirus                 1            0.146843
25                                       Sarbecovirus                 1            0.146843
26                          Swine enteric coronavirus                 1            0.146843
27                    Ferret enteric coronavirus MSU1                 1            0.146843
28                                        Tegacovirus                 1            0.146843
29                                  Betacoronavirus 1                 1            0.146843
30                     unidentified human coronavirus                 1            0.146843
31                      unclassified Alphacoronavirus                 1            0.146843
32                    Ferret enteric coronavirus 1202                 1            0.146843
33                                    Bat coronavirus                 1            0.146843
34                    Porcine respiratory coronavirus                 1            0.146843
35                Transmissible gastroenteritis virus                 1            0.146843
36                Human coronavirus Feline-like Hu142                 1            0.146843

                                           virus_name  virus_name_count  virus_name_percent
0                         Infectious bronchitis virus               271           39.794420
1     Severe acute respiratory syndrome coronavirus 2                93           13.656388
2                                  Feline coronavirus                63            9.251101
3                                   Avian coronavirus                60            8.810573
4                              Human coronavirus OC43                51            7.488987
5                     Porcine epidemic diarrhea virus                47            6.901615
6                                  Canine coronavirus                17            2.496329
7                                  Alphacoronavirus 1                15            2.202643
8   Swine acute diarrhea syndrome related coronavirus                 8            1.174743
9                                       Coronaviridae                 8            1.174743
10                                 Ferret coronavirus                 7            1.027900
11                             Human coronavirus HKU1                 5            0.734214
12  Middle East respiratory syndrome-related coron...                 3            0.440529
13                         unclassified Coronavirinae                 3            0.440529
14                Feline infectious peritonitis virus                 3            0.440529
15                             Human coronavirus 229E                 3            0.440529
16                                   Alphacoronavirus                 2            0.293686
17                             Human coronavirus NL63                 2            0.293686
18                                 Orthocoronavirinae                 2            0.293686
19                      Avian coronavirus IA1162/2020                 1            0.146843
20  Severe acute respiratory syndrome-related coro...                 1            0.146843
21                           Porcine deltacoronavirus                 1            0.146843
22                    Coronavirus BtRl-BetaCoV/SC2018                 1            0.146843
23                    Canine coronavirus isolate NJ17                 1            0.146843
24                     Canine respiratory coronavirus                 1            0.146843
25                                       Sarbecovirus                 1            0.146843
26                          Swine enteric coronavirus                 1            0.146843
27                    Ferret enteric coronavirus MSU1                 1            0.146843
28                                        Tegacovirus                 1            0.146843
29                                  Betacoronavirus 1                 1            0.146843
30                     unidentified human coronavirus                 1            0.146843
31                      unclassified Alphacoronavirus                 1            0.146843
32                    Ferret enteric coronavirus 1202                 1            0.146843
33                                    Bat coronavirus                 1            0.146843
34                    Porcine respiratory coronavirus                 1            0.146843
35                Transmissible gastroenteritis virus                 1            0.146843
36                Human coronavirus Feline-like Hu142                 1            0.146843

In [18]:
human_df = df[df["virus_host_name"] == "homo sapiens"]
print(human_df.shape)
human_df.head()

(163, 12)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank                                                seq human_binary_label
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  AFAVIGDLKCPLDTSRKGSFNNKDTGPPFISTDTVDVTNGLGTYYV...       homo sapiens
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNDRDTGPPSISTDTV...       homo sapiens
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPRLKGSFNDRDTGPPSISTDTV...       homo sapiens
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDPKLKGSFNNRDTGPPSISTDTV...       homo sapiens
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']    homo sapiens  Human coronavirus OC43          no rank               9606               species  MFLILLISLPTAFAVIGDLNCPLDTRLKGSFNNRDTGPPSISTDTV...       homo sapiens

In [19]:
column_stats(human_df, "virus_name")

Number of unique values = 10
                                          virus_name  virus_name_count  virus_name_percent
0    Severe acute respiratory syndrome coronavirus 2                93           57.055215
1                             Human coronavirus OC43                51           31.288344
2                             Human coronavirus HKU1                 5            3.067485
3                             Human coronavirus 229E                 3            1.840491
4  Middle East respiratory syndrome-related coron...                 3            1.840491
5                                      Coronaviridae                 3            1.840491
6                             Human coronavirus NL63                 2            1.226994
7                     unidentified human coronavirus                 1            0.613497
8                                  Betacoronavirus 1                 1            0.613497
9                Human coronavirus Feline-like Hu142                 1            0.613497

                                          virus_name  virus_name_count  virus_name_percent
0    Severe acute respiratory syndrome coronavirus 2                93           57.055215
1                             Human coronavirus OC43                51           31.288344
2                             Human coronavirus HKU1                 5            3.067485
3                             Human coronavirus 229E                 3            1.840491
4  Middle East respiratory syndrome-related coron...                 3            1.840491
5                                      Coronaviridae                 3            1.840491
6                             Human coronavirus NL63                 2            1.226994
7                     unidentified human coronavirus                 1            0.613497
8                                  Betacoronavirus 1                 1            0.613497
9                Human coronavirus Feline-like Hu142                 1            0.613497

In [20]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/human/coronaviridae_s_uniref90_human.csv")
human_df.to_csv(file_path, index=False)

In [21]:
df["human_binary_label"].value_counts()

NOT homo sapiens    518
homo sapiens        163
Name: human_binary_label, dtype: int64