In [83]:
import pandas as pd
import os
import numpy as np
from Bio import SeqIO
import re
import seaborn as sns
import matplotlib.pyplot as plt

In [48]:
input_file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/sarscov2/sarscov2_variants_spike_seqences_ncbivirus_20250106.fasta")
output_file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/sarscov2/sarscov2_variants_spike_seqences_ncbivirus_20250106.csv")

In [32]:
def parse_fasta_file(input_file_path, output_file_path):
    sequences = []
    i = 0
    parse_error_count = 0
    print("START: Parsing fasta file")
    # parse fasta file to extract uniref90_id, tax_id of virus/organism, and protein sequence
    with open(input_file_path) as f:
        for record in SeqIO.parse(f, "fasta"):
            i += 1
            metadata = record.description.split("|")
            # metadata: 
            # <0> accession id | <1>  protein_with_species | <2> genbank_or_refseq | <3> pangolin | <4> seq_length | <5> protein | <6> host | <7> geo_location | <8> country
            accession_id = metadata[0].strip()
            species = metadata[1].strip()
            genbank_or_refseq = metadata[2].strip()
            pangolin_lineage = metadata[3].strip()
            seq_length = int(metadata[4].strip())
            protein = metadata[5].strip()
            host = metadata[6].strip()
            geo_location = metadata[8].strip()    
        
            
            sequences.append({
                "accession_id": record.id,
                "species": species,
                "genbank_or_refseq": genbank_or_refseq,
                "pangolin_lineage": pangolin_lineage,
                "seq_length": seq_length,
                "protein": protein,
                "host": host,
                "geo_location": geo_location,
                "seq": str(record.seq)
            })
    print("END: Parsing fasta file")
    print(len(sequences))
    print(f"Number of records parsed = {i}")
    print(f"Number of records with parsing error = {parse_error_count}")
    df = pd.DataFrame(sequences)

    # write the parsed dataframe to a csv file
    print(f"Writing to file {output_file_path}")
    df.to_csv(output_file_path, index=False)
    return df

In [33]:
df = parse_fasta_file(input_file_path, output_file_path)

START: Parsing fasta file
END: Parsing fasta file
4026125
Number of records parsed = 4026125
Number of records with parsing error = 0
Writing to file /home/blessyantony/dev/git/zoonosis/src/jupyter_notebooks/datasets/generation/../../../../input/data/coronaviridae/20240313/sarscov2/sarscov2_variants_spike_seqences_ncbivirus_20250106.csv

In [49]:
df = pd.read_csv(output_file_path)

In [50]:
df

,accession_id,species,genbank_or_refseq,pangolin_lineage,seq_length,protein,host,geo_location,seq
0,YP_009724390.1,surface glycoprotein [Severe acute respiratory...,RefSeq,B,1273,surface glycoprotein,Homo sapiens,China,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
1,XLZ36708.1,surface glycoprotein [Severe acute respiratory...,GenBank,MC.10.1,1264,surface glycoprotein,Homo sapiens,USA: Iowa,MFVFLVLLPLVSSQCVNLITTTQSYTNFTRGVYYPDKVFRSSVLHL...
2,XLZ36720.1,surface glycoprotein [Severe acute respiratory...,GenBank,XEC,1265,surface glycoprotein,Homo sapiens,USA: Iowa,MFVFLVLLPLVSSQCVNLITTNQSYTNSFTRGVYYPDKVFRSSVLH...
3,XLZ36732.1,surface glycoprotein [Severe acute respiratory...,GenBank,KP.3.1.1,1264,surface glycoprotein,Homo sapiens,USA: Iowa,MFVFLVLLPLVSSQCVNLITTTQSYTNFTRGVYYPDKVFRSSVLHL...
4,XLZ36744.1,surface glycoprotein [Severe acute respiratory...,GenBank,KP.3.1.1,1264,surface glycoprotein,Homo sapiens,USA: Iowa,MFVFLVLLPLVSSQCVNLITTTQSYTNFTRGVYYPDKVFRSSVLHL...
...,...,...,...,...,...,...,...,...,...
4026120,QHN73822.1,"surface glycoprotein, partial [Severe acute re...",GenBank,unclassifiable,35,surface glycoprotein,Homo sapiens,China,NVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDD
4026121,QHN73823.1,"surface glycoprotein, partial [Severe acute re...",GenBank,unclassifiable,35,surface glycoprotein,Homo sapiens,China,NVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDD
4026122,QHN73824.1,"surface glycoprotein, partial [Severe acute re...",GenBank,unclassifiable,35,surface glycoprotein,Homo sapiens,China,NVYADSFVIRGDEVRQIAPGQTGKIADYNYKLPDD
4026123,QHO60594.1,surface glycoprotein [Severe acute respiratory...,GenBank,A,1273,surface glycoprotein,Homo sapiens,USA,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
4026124,QHD43416.1,surface glycoprotein [Severe acute respiratory...,GenBank,B,1273,surface glycoprotein,Homo sapiens,China,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...

In [60]:
df = df[df["species"] == "surface glycoprotein [Severe acute respiratory syndrome coronavirus 2]"]

In [102]:
ref_seq_df = df[df["genbank_or_refseq"] == "RefSeq"]
ref_seq_df

,accession_id,species,genbank_or_refseq,pangolin_lineage,seq_length,protein,host,geo_location,seq
0,YP_009724390.1,surface glycoprotein [Severe acute respiratory...,RefSeq,B,1273,surface glycoprotein,Homo sapiens,China,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...

In [61]:
print(df["species"].nunique())
pd.DataFrame(df["species"].value_counts())

1

                                                      count
species
surface glycoprotein [Severe acute respiratory ...  3901811

In [62]:
print(df["genbank_or_refseq"].nunique())
pd.DataFrame(df["genbank_or_refseq"].value_counts())

2

                     count
genbank_or_refseq
GenBank            3901810
RefSeq                   1

In [64]:
print(df["protein"].nunique())
pd.DataFrame(df["protein"].value_counts())

1

                        count
protein
surface glycoprotein  3901811

In [65]:
print(df["host"].nunique())
pd.DataFrame(df["host"].value_counts())

1

                count
host
Homo sapiens  3901811

In [66]:
print(df["geo_location"].nunique())
pd.DataFrame(df["geo_location"].value_counts())

3669

                                                     count
geo_location
USA                                                 719372
USA: California                                     348378
USA: Massachusetts                                  170200
USA: Florida                                        156642
USA: Minnesota                                      139551
...                                                    ...
USA: Massachusetts, Burlington                           1
Austria: Upper Austria / Voecklabruck / Niedert...       1
Austria: Upper Austria / Voecklabruck / Pilsbach         1
USA: Oklahoma, Taloga                                    1
Uzbekistan: Tashkent region, Ortachirchik distr...       1

[3669 rows x 1 columns]

In [72]:
print(df["pangolin_lineage"].nunique())
pangolin_lineage_df = pd.DataFrame(df["pangolin_lineage"].value_counts())
pangolin_lineage_df

3638

                   count
pangolin_lineage
BA.1.1            366872
AY.103            241902
AY.44             207455
B.1.1.7           198709
BA.2.12.1         158794
...                  ...
ER.1                   1
B.1.160.15             1
B.1.212                1
N.10                   1
XDV.1.6                1

[3638 rows x 1 columns]

In [80]:
n = df.shape[0]
n_one_percent = 1/100*n
n_one_percent

39018.11

In [104]:
selected_lineages = list(pangolin_lineage_df[pangolin_lineage_df["count"] > 10000].index)
print(len(selected_lineages))
selected_lineages

54

['BA.1.1',
 'AY.103',
 'AY.44',
 'B.1.1.7',
 'BA.2.12.1',
 'AY.3',
 'AY.25',
 'BA.2',
 'BA.1.15',
 'BA.5.2.1',
 'B.1.2',
 'BA.1',
 'AY.100',
 'XBB.1.5',
 'BA.1.1.18',
 'AY.25.1',
 'AY.39',
 'B.1.617.2',
 'BA.5.2',
 'B.1',
 'B.1.526',
 'BA.5.5',
 'BQ.1.1',
 'AY.26',
 'AY.47',
 'BA.5.1',
 'B.1.429',
 'AY.119',
 'AY.122',
 'BA.1.20',
 'BA.4.6',
 'BA.4.1',
 'BA.2.3',
 'BA.1.18',
 'BA.5.6',
 'AY.20',
 'P.1',
 'AY.118',
 'BQ.1',
 'JN.1',
 'BA.2.9',
 'AY.75',
 'HV.1',
 'AY.43',
 'B.1.427',
 'AY.3.1',
 'AY.117',
 'B.1.1.519',
 'KP.3.1.1',
 'BF.10',
 'B.1.637',
 'D.2',
 'AY.14',
 'AY.54']

In [105]:
selected_lineages_df = df[df["pangolin_lineage"].isin(selected_lineages)]
selected_lineages_df.shape

(2975967, 9)

In [106]:
selected_lineages_df["seq_length"].min()

1233

In [107]:
selected_lineages_df["seq_length"].max()

1281

### Random selection of 100 sequences from each lineage

In [108]:
sampled_dfs = []
for lineage in selected_lineages:
    sampled_dfs.append(selected_lineages_df[selected_lineages_df["pangolin_lineage"] == lineage].sample(n=100, ignore_index=True))
sampled_df = pd.concat(sampled_dfs)
print(sampled_df.shape)
sampled_df

(5400, 9)

,accession_id,species,genbank_or_refseq,pangolin_lineage,seq_length,protein,host,geo_location,seq
0,UKV53754.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,Homo sapiens,USA: Michigan,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
1,UKH58659.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,Homo sapiens,"USA: Washington,Pierce County",MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
2,UKU53151.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1273,surface glycoprotein,Homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
3,UNN67139.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,Homo sapiens,USA: Florida,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
4,UKZ18685.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,Homo sapiens,USA: Massachusetts,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
...,...,...,...,...,...,...,...,...,...
95,QXF86561.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,Homo sapiens,USA: Nevada,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
96,UGY84535.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1270,surface glycoprotein,Homo sapiens,USA: New Mexico,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
97,QZI14531.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,Homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
98,UDJ11486.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,Homo sapiens,USA: Massachusetts,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
99,UAA73066.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,Homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...

In [111]:
variants_df = pd.concat([ref_seq_df, sampled_df])
variants_df = variants_df.rename(columns={"host": "virus_host_name"})
variants_df["virus_host_name"] = variants_df["virus_host_name"].map({"Homo sapiens": "homo sapiens"})
variants_df

,accession_id,species,genbank_or_refseq,pangolin_lineage,seq_length,protein,virus_host_name,geo_location,seq
0,YP_009724390.1,surface glycoprotein [Severe acute respiratory...,RefSeq,B,1273,surface glycoprotein,homo sapiens,China,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
0,UKV53754.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,homo sapiens,USA: Michigan,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
1,UKH58659.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,homo sapiens,"USA: Washington,Pierce County",MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
2,UKU53151.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1273,surface glycoprotein,homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
3,UNN67139.1,surface glycoprotein [Severe acute respiratory...,GenBank,BA.1.1,1270,surface glycoprotein,homo sapiens,USA: Florida,MFVFLVLLPLVSSQCVNLTTRTQLPPAYTNSFTRGVYYPDKVFRSS...
...,...,...,...,...,...,...,...,...,...
95,QXF86561.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,homo sapiens,USA: Nevada,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
96,UGY84535.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1270,surface glycoprotein,homo sapiens,USA: New Mexico,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
97,QZI14531.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
98,UDJ11486.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,homo sapiens,USA: Massachusetts,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...
99,UAA73066.1,surface glycoprotein [Severe acute respiratory...,GenBank,AY.54,1271,surface glycoprotein,homo sapiens,USA: California,MFVFLVLLPLVSSQCVNLRTRTQLPPAYTNSFTRGVYYPDKVFRSS...

In [112]:
variants_df.to_csv(os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/sarscov2/sarscov2_variants_spike_seqences_ncbivirus_20250106_downsampled.csv"))