# Coronaviridae S Protein - EMBL mapping Dataset Analysis

In [23]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

pd.set_option("display.max_rows", None)
pd.set_option('display.width', 1000)
from ast import literal_eval

UNIREF90_ID = "uniref90_id"
TAX_ID = "tax_id"
SEQUENCE = "seq"
HOST_TAX_IDS = "host_tax_ids"
UNIPROT_HOST_TAX_IDS ="uniprot_host_tax_ids"
EMBL_REF_ID = "embl_ref_id"
EMBL_HOST_NAME ="embl_host_name"

In [24]:
def column_stats(df, column_name):
    n = df.shape[0]
    count_column_name = column_name + "_count"
    count_df = pd.DataFrame(df[column_name].value_counts()).reset_index()
    count_df.columns=[column_name, count_column_name]
    count_df[column_name + "_percent"] = count_df[count_column_name].apply(lambda x: int(x)/n*100)
    print(f"Number of unique values = {len(df[column_name].unique())}")
    print(f"{count_df}")

In [3]:
def print_seq_len_histogram(df, n_bins):
    sns.histplot(df["seq_len"])
    print(f"min seq len = {min(df['seq_len'])}")
    print(f"max seq len = {max(df['seq_len'])}")
    plt.show()
    
    freq, bins = np.histogram(df["seq_len"], bins=n_bins)
    n = df.shape[0]
    hist_map = []
    for i in range(n_bins):
        hist_map.append({"start": bins[i], "end":bins[i+1], "count": freq[i], "percentage": freq[i]/n*100})
    hist_df = pd.DataFrame(hist_map)
    print(hist_df)

In [4]:
def analyze_df(file_path):
    df = pd.read_csv(file_path)
#    df["seq_len"] = df["seq"].apply(lambda x: len(x))
    print("df size = ", df.shape)
    print(df.head())
    column_stats(df, "tax_id")
    column_stats(df, "embl_host_name")
    return df

## UniRef90 sequences

coronaviridae_s_uniref90_embl_hosts.csv

coronaviridae_s_uniref90_embl_hosts_pruned.csv

coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv

coronaviridae_s_uniref90_embl_hosts_pruned_metadata_virus_host_genus.csv

coronaviridae_s_uniref90_embl_hosts_pruned_metadata_virus_host_genus_vertebrates.csv

coronaviridae_s_uniref90_embl_hosts_pruned_metadata_virus_host_genus_vertebrates_w_seq.csv

In [22]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_virus_host_genus_vertebrates.csv")
# df = pd.read_csv(file_path, on_bad_lines=None, converters={2: literal_eval}, names=[UNIREF90_ID, TAX_ID, HOST_TAX_IDS, EMBL_REF_ID])
df = pd.read_csv(file_path)
print(df.shape)
df.head()

(482, 10)

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus

In [20]:
sum(df["virus_host_name"] != "None")

860

In [21]:
column_stats(df, "virus_host_name")

Number of unique values = 128
                                virus_host_name  virus_host_name_count  virus_host_name_percent
0                                       chicken                    172                20.000000
1                                          Homo                    162                18.837209
2                                        Gallus                    100                11.627907
3                                         Felis                     48                 5.581395
4                                   Rhinolophus                     39                 4.534884
5                                       porcine                     18                 2.093023
6                                         Canis                     18                 2.093023
7                                           cat                     17                 1.976744
8                                           pig                     16                 1.860465
9                      Gallus gallus domesticus                     14                 1.627907
10                                      Chicken                     12                 1.395349
11                                          bat                     12                 1.395349
12                              broiler chicken                     12                 1.395349
13                                          Sus                     11                 1.279070
14                                        swine                      9                 1.046512
15                                       Myotis                      8                 0.930233
16                             Canis familiaris                      8                 0.930233
17                      Gallus gallus (chicken)                      7                 0.813953
18                                    Rousettus                      5                 0.581395
19                                 Pipistrellus                      5                 0.581395
20                                       ferret                      5                 0.581395
21                                          Pan                      4                 0.465116
22                                 Hipposideros                      4                 0.465116
23                                  Miniopterus                      4                 0.465116
24                                         Anas                      4                 0.465116
25               Mustela putorius furo (ferret)                      4                 0.465116
26                                          dog                      4                 0.465116
27                                       Feline                      4                 0.465116
28                                      Broiler                      3                 0.348837
29                                      Eidolon                      3                 0.348837
30                                      poultry                      3                 0.348837
31                                      Columba                      3                 0.348837
32                                kennelled dog                      3                 0.348837
33                                    Meleagris                      3                 0.348837
34             Eptesicus fuscus (big brown bat)                      3                 0.348837
35                                       feline                      3                 0.348837
36                                       canine                      3                 0.348837
37                                      broiler                      3                 0.348837
38                            Felis catus (cat)                      3                 0.348837
39                                      sparrow                      3                 0.348837
40                                    Erinaceus                      2                 0.232558
41                                      Camelus                      2                 0.232558
42                                  guinea fowl                      2                 0.232558
43                                        camel                      2                 0.232558
44                                       Rattus                      2                 0.232558
45                                       cattle                      2                 0.232558
46                                     Desmodus                      2                 0.232558
47                                       Murina                      2                 0.232558
48                            chicken (broiler)                      2                 0.232558
49                                    Bandicota                      2                 0.232558
50                        Rhinolophus sp. (bat)                      1                 0.116279
51                                        Layer                      1                 0.116279
52                                     Coturnix                      1                 0.116279
53                                layer chicken                      1                 0.116279
54                             Miniopterus spp.                      1                 0.116279
55                             broiler chickens                      1                 0.116279
56                                     Microtus                      1                 0.116279
57                                          yak                      1                 0.116279
58                                         goat                      1                 0.116279
59                             Backyard chicken                      1                 0.116279
60                pre-weaned Korean native calf                      1                 0.116279
61                                       Branta                      1                 0.116279
62                                        Horse                      1                 0.116279
63               Rhinolophus hipposideros (bat)                      1                 0.116279
64         Arenaria interpres (ruddy turnstone)                      1                 0.116279
65                                    Mystacina                      1                 0.116279
66                                    shorebird                      1                 0.116279
67                      Gallus gallus (broiler)                      1                 0.116279
68                          Neoromicia capensis                      1                 0.116279
69                                 domestic dog                      1                 0.116279
70               Homo sapiens sample 4310600038                      1                 0.116279
71                             15 days old calf                      1                 0.116279
72                              chicken-broiler                      1                 0.116279
73                                        Manis                      1                 0.116279
74            Manis javanica (Malayan pangolin)                      1                 0.116279
75                    Chlamydotis sp. (Houbara)                      1                 0.116279
76                                  Scotophilus                      1                 0.116279
77                                      Crocuta                      1                 0.116279
78                            Gallus domesticus                      1                 0.116279
79                                  Vespertilio                      1                 0.116279
80                                      Tadorna                      1                 0.116279
81                                   Cynopterus                      1                 0.116279
82                      Galliformes sp. (Quail)                      1                 0.116279
83                                       wigeon                      1                 0.116279
84                                       bovine                      1                 0.116279
85                                 Nycteris sp.                      1                 0.116279
86                        Cardioderma cor (bat)                      1                 0.116279
87                      Hipposideros commersoni                      1                 0.116279
88   Gallus gallus (48 week-old breeder layers)                      1                 0.116279
89                        Hipposideros vittatus                      1                 0.116279
90                             Hipposideros sp.                      1                 0.116279
91                                  Oryctolagus                      1                 0.116279
92                       Rousettus leschenaulti                      1                 0.116279
93                                  bat BF_506I                      1                 0.116279
94                                  bat BF_258I                      1                 0.116279
95                                     Cynomops                      1                 0.116279
96                    Mustela putorius (ferret)                      1                 0.116279
97                                     Nyctalus                      1                 0.116279
98           Gallus gallus domesticus (chicken)                      1                 0.116279
99                                      Mustela                      1                 0.116279
100                   Rhinolophus Ferrumequinum                      1                 0.116279
101                          white-rumped munia                      1                 0.116279
102                          grey-backed thrush                      1                 0.116279
103                        red-whiskered bulbul                      1                 0.116279
104        Delphinapterus leucas (beluga whale)                      1                 0.116279
105                    Chaerephon pumilus (bat)                      1                 0.116279
106                        Eidolon helvum (bat)                      1                 0.116279
107                Miniopterus natalensis (bat)                      1                 0.116279
108                                      Suncus                      1                 0.116279
109                                        mink                      1                 0.116279
110             Hydropotes inermis (water deer)                      1                 0.116279
111                               Tropidophorus                      1                 0.116279
112                                     Hypsugo                      1                 0.116279
113                          Allactaga sibirica                      1                 0.116279
114                                       Sorex                      1                 0.116279
115                                      Myodes                      1                 0.116279
116                                    Meriones                      1                 0.116279
117                              common moorhen                      1                 0.116279
118                  Miniopterus inflatus (bat)                      1                 0.116279
119                                       quail                      1                 0.116279
120                                 night-heron                      1                 0.116279
121                                magpie-robin                      1                 0.116279
122                                   white-eye                      1                 0.116279
123              Miniopterus fuliginosus, feces                      1                 0.116279
124          Miniopterus fuliginosus, intestine                      1                 0.116279
125                                   Eptesicus                      1                 0.116279
126                        Chaerephon sp. (bat)                      1                 0.116279
127             Rhinolophus ferrumequinum (bat)                      1                 0.116279

In [18]:
column_stats(df, "embl_host_name")

Number of unique values = 169
                                        embl_host_name  embl_host_name_count  embl_host_name_percent
0                                          ['chicken']                   167               19.418605
1                                     ['Homo sapiens']                   155               18.023256
2                                    ['Gallus gallus']                    97               11.279070
3                                      ['Felis catus']                    48                5.581395
4                                          ['porcine']                    18                2.093023
5                                              ['cat']                    17                1.976744
6                           ['Canis lupus familiaris']                    17                1.976744
7                                              ['pig']                    16                1.860465
8                         ['Gallus gallus domesticus']                    14                1.627907
9                                          ['Chicken']                    12                1.395349
10                                             ['bat']                    12                1.395349
11                                 ['broiler chicken']                    12                1.395349
12                                      ['Sus scrofa']                    11                1.279070
13                                 ['Rhinolophus sp.']                    10                1.162791
14                                           ['swine']                     9                1.046512
15                             ['Rhinolophus sinicus']                     9                1.046512
16                                ['Canis familiaris']                     8                0.930233
17                         ['Gallus gallus (chicken)']                     7                0.813953
18                                          ['ferret']                     5                0.581395
19                          ['Rhinolophus acuminatus']                     5                0.581395
20                                          ['Feline']                     4                0.465116
21                                             ['dog']                     4                0.465116
22                           ['Pan troglodytes verus']                     4                0.465116
23                  ['Mustela putorius furo (ferret)']                     4                0.465116
24                                ['chicken; broiler']                     4                0.465116
25                            ['Rhinolophus cornutus']                     3                0.348837
26                ['Eptesicus fuscus (big brown bat)']                     3                0.348837
27                                         ['poultry']                     3                0.348837
28                           ['Rhinolophus malayanus']                     3                0.348837
29                                  ['Eidolon helvum']                     3                0.348837
30                                         ['broiler']                     3                0.348837
31                               ['Anas superciliosa']                     3                0.348837
32                             ['Rhinolophus affinis']                     3                0.348837
33                                          ['canine']                     3                0.348837
34                             ['Meleagris gallopavo']                     3                0.348837
35                                   ['Rousettus sp.']                     3                0.348837
36                                   ['Columba livia']                     3                0.348837
37                                         ['sparrow']                     3                0.348837
38                                   ['kennelled dog']                     3                0.348837
39                                         ['Broiler']                     3                0.348837
40                               ['Felis catus (cat)']                     3                0.348837
41                                          ['feline']                     3                0.348837
42                             ['Camelus dromedarius']                     2                0.232558
43                           ['Rousettus aegyptiacus']                     2                0.232558
44                             ['Pipistrellus kuhlii']                     2                0.232558
45                           ['Hipposideros larvatus']                     2                0.232558
46                                     ['guinea fowl']                     2                0.232558
47                        ['Miniopterus schreibersii']                     2                0.232558
48                               ['chicken (broiler)']                     2                0.232558
49                                          ['cattle']                     2                0.232558
50                       ['Rhinolophus ferrumequinum']                     2                0.232558
51                               ['Desmodus rotundus']                     2                0.232558
52                                           ['camel']                     2                0.232558
53                   ['Homo sapiens; sex: F; age: 7Y']                     2                0.232558
54                            ['Pipistrellus abramus']                     2                0.232558
55                   ['Homo sapiens; sex: M; age: 7Y']                     1                0.116279
56                           ['Mystacina tuberculata']                     1                0.116279
57                             ['Tadorna tadornoides']                     1                0.116279
58            ['Arenaria interpres (ruddy turnstone)']                     1                0.116279
59                       ['Gallus gallus; layer type']                     1                0.116279
60                   ['Homo sapiens; sex: M; age: 5Y']                     1                0.116279
61                               ['Cynopterus sphinx']                     1                0.116279
62                  ['Rhinolophus hipposideros (bat)']                     1                0.116279
63                  ['Homo sapiens sample 4310600038']                     1                0.116279
64                                           ['Horse']                     1                0.116279
65                 ['Rhinolophus ferrumequinum (bat)']                     1                0.116279
66                              ['Rhinolophus stheno']                     1                0.116279
67                                 ['Myotis muricola']                     1                0.116279
68                               ['Branta canadensis']                     1                0.116279
69                                ['broiler chickens']                     1                0.116279
70                                            ['goat']                     1                0.116279
71                                             ['yak']                     1                0.116279
72                               ['Microtus agrestis']                     1                0.116279
73                                ['Miniopterus spp.']                     1                0.116279
74                               ['Bandicota savilei']                     1                0.116279
75                                  ['Rattus exulans']                     1                0.116279
76                           ['Rhinolophus sp. (bat)']                     1                0.116279
77                                 ['Murina cyclotis']                     1                0.116279
78                             ['Erinaceus europaeus']                     1                0.116279
79                                   ['Anas gracilis']                     1                0.116279
80                                ['Bandicota indica']                     1                0.116279
81                   ['Homo sapiens; sex: M; age: 9Y']                     1                0.116279
82                            ['Vespertilio sinensis']                     1                0.116279
83                  ['Homo sapiens; sex: F; age: 15Y']                     1                0.116279
84                  ['Homo sapiens; sex: M; age: 43Y']                     1                0.116279
85                                ['Myotis lucifugus']                     1                0.116279
86                                ['15 days old calf']                     1                0.116279
87                                 ['chicken-broiler']                     1                0.116279
88                                  ['Manis javanica']                     1                0.116279
89               ['Manis javanica (Malayan pangolin)']                     1                0.116279
90                                           ['Layer']                     1                0.116279
91                   ['pre-weaned Korean native calf']                     1                0.116279
92                            ['Miniopterus pusillus']                     1                0.116279
93                         ['Gallus gallus (broiler)']                     1                0.116279
94                              ['Scotophilus kuhlii']                     1                0.116279
95                                 ['Crocuta crocuta']                     1                0.116279
96                             ['Erinaceus amurensis']                     1                0.116279
97                               ['Gallus domesticus']                     1                0.116279
98                             ['Neoromicia capensis']                     1                0.116279
99                                 ['Myotis brandtii']                     1                0.116279
100                              ['Myotis ikonnikovi']                     1                0.116279
101                           ['Myotis macrodactylus']                     1                0.116279
102                             ['chicken; Br parent']                     1                0.116279
103                                      ['shorebird']                     1                0.116279
104                                   ['domestic dog']                     1                0.116279
105                           ['Rhinolophus pusillus']                     1                0.116279
106                                         ['Gallus']                     1                0.116279
107                      ['Mustela putorius (ferret)']                     1                0.116279
108                           ['Eidolon helvum (bat)']                     1                0.116279
109                       ['Chaerephon pumilus (bat)']                     1                0.116279
110                          ['Cardioderma cor (bat)']                     1                0.116279
111                        ['Hipposideros commersoni']                     1                0.116279
112     ['Gallus gallus (48 week-old breeder layers)']                     1                0.116279
113                          ['Hipposideros vittatus']                     1                0.116279
114                               ['Hipposideros sp.']                     1                0.116279
115  ['Oryctolagus cuniculus; breed: New Zealand ra...                     1                0.116279
116                         ['Rousettus leschenaulti']                     1                0.116279
117                                    ['bat BF_506I']                     1                0.116279
118                                    ['bat BF_258I']                     1                0.116279
119                             ['Rhinolophus blasii']                     1                0.116279
120                          ['Cynomops planirostris']                     1                0.116279
121                             ['Murina leucogaster']                     1                0.116279
122                     ['Miniopterus inflatus (bat)']                     1                0.116279
123                                ['Myotis ricketti']                     1                0.116279
124                             ['Nyctalus velutinus']                     1                0.116279
125                        ['Miniopterus fuliginosus']                     1                0.116279
126             ['Gallus gallus domesticus (chicken)']                     1                0.116279
127                              ['Hipposideros abae']                     1                0.116279
128                         ['Hipposideros cf. ruber']                     1                0.116279
129                            ['Rhinolophus euryale']                     1                0.116279
130                          ['Mustela putorius furo']                     1                0.116279
131                      ['Rhinolophus Ferrumequinum']                     1                0.116279
132                             ['white-rumped munia']                     1                0.116279
133                             ['grey-backed thrush']                     1                0.116279
134                           ['red-whiskered bulbul']                     1                0.116279
135           ['Delphinapterus leucas (beluga whale)']                     1                0.116279
136                   ['Miniopterus natalensis (bat)']                     1                0.116279
137                           ['Chaerephon sp. (bat)']                     1                0.116279
138                           ['Rattus argentiventer']                     1                0.116279
139                          ['Tropidophorus sinicus']                     1                0.116279
140                               ['Backyard chicken']                     1                0.116279
141                                  ['layer chicken']                     1                0.116279
142                              ['Coturnix japonica']                     1                0.116279
143                                    ['Canis lupus']                     1                0.116279
144                        ['Galliformes sp. (Quail)']                     1                0.116279
145                      ['Chlamydotis sp. (Houbara)']                     1                0.116279
146                                         ['bovine']                     1                0.116279
147                          ['Pipistrellus nathusii']                     1                0.116279
148                                   ['Nycteris sp.']                     1                0.116279
149                                           ['mink']                     1                0.116279
150   ['Gallus gallus; breed Appenzeller Spitzhauben']                     1                0.116279
151                                          ['quail']                     1                0.116279
152                ['Hydropotes inermis (water deer)']                     1                0.116279
153                                  ['Hypsugo savii']                     1                0.116279
154                               ['Eptesicus fuscus']                     1                0.116279
155                             ['Allactaga sibirica']                     1                0.116279
156                                  ['Sorex araneus']                     1                0.116279
157                               ['Myodes rufocanus']                     1                0.116279
158                            ['Meriones meridianus']                     1                0.116279
159                                 ['Suncus murinus']                     1                0.116279
160                                 ['common moorhen']                     1                0.116279
161                                         ['wigeon']                     1                0.116279
162                                    ['night-heron']                     1                0.116279
163                                   ['magpie-robin']                     1                0.116279
164                                      ['white-eye']                     1                0.116279
165                                 ['Myotis davidii']                     1                0.116279
166                 ['Miniopterus fuliginosus, feces']                     1                0.116279
167             ['Miniopterus fuliginosus, intestine']                     1                0.116279
168                                 ['Myotis laniger']                     1                0.116279

### Records with duplicate EMBL ids

In [7]:
sum(df[EMBL_REF_ID].value_counts() > 1)

1

In [8]:
embl_ref_ids_count = df[EMBL_REF_ID].value_counts()

In [9]:
embl_ref_ids_count[embl_ref_ids_count > 1]

None    90
Name: embl_ref_id, dtype: int64

In [10]:
duplicate_embl_ids = embl_ref_ids_count[embl_ref_ids_count > 1]
duplicate_embl_ids.pop("None")
duplicate_embl_ids

Series([], Name: embl_ref_id, dtype: int64)

In [11]:
df_duplicate_embl = df[df[EMBL_REF_ID].isin(duplicate_embl_ids.index)]

In [12]:
df_duplicate_embl.shape

(0, 4)

In [13]:
df_duplicate_embl

Empty DataFrame
Columns: [uniref90_id, tax_id, host_tax_ids, embl_ref_id]
Index: []

### Records with valid EMBL id

In [14]:
invalid_embl_ids = embl_ref_ids_count[embl_ref_ids_count > 1]
embl_pruned_df = df[~df[EMBL_REF_ID].isin(invalid_embl_ids.index)]

In [15]:
embl_pruned_df.shape

(1349, 4)

## EMBL Mapping 
### coronaviridae_s_uniref90_embl_hosts.csv

In [16]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts.csv")
df = analyze_df(file_path)

df size =  (1439, 5)
           uniref90_id  tax_id host_tax_ids embl_ref_id embl_host_name
0  UniRef90_A0A023PUW9  694009          NaN  AHX37558.1            NaN
1  UniRef90_A0A8F1BB48   11120          NaN  QWM97422.1            NaN
2  UniRef90_A0A8F1BB52   11120          NaN  QWM97437.1            NaN
3  UniRef90_A0A023VWC7   11120          NaN  AHY19803.1            NaN
4  UniRef90_A0A8F1BBN9   11120          NaN  QWM97409.1            NaN
Number of unique values = 176
      tax_id  tax_id_count  tax_id_percent
0      11120           507       35.232801
1    2697049           126        8.756081
2      12663           104        7.227241
3      31631            99        6.879778
4     694014            88        6.115358
5      28295            53        3.683113
6      11118            35        2.432245
7      11153            31        2.154274
8    2501931            24        1.667825
9     693997            20        1.389854
10   1508220            15        1.042391
11     11137            15        1.042391
12    694009            13        0.903405
13   2730119            12        0.833912
14     11128            11        0.764420
15    277944            10        0.694927
16   1335626            10        0.694927
17   1264898             9        0.625434
18    290028             9        0.625434
19    693996             8        0.555942
20   2115988             8        0.555942
21    258781             7        0.486449
22   2341010             6        0.416956
23    694003             6        0.416956
24   1906673             6        0.416956
25     11152             5        0.347464
26    694006             5        0.347464
27    694008             5        0.347464
28     11138             4        0.277971
29   1739614             4        0.277971
30     11149             4        0.277971
31    694002             4        0.277971
32    694005             4        0.277971
33   2664420             3        0.208478
34     11135             3        0.208478
35    300189             3        0.208478
36   1928434             3        0.208478
37   2708335             3        0.208478
38   2050018             3        0.208478
39   2509511             3        0.208478
40   1986198             3        0.208478
41   3018840             2        0.138985
42     11146             2        0.138985
43   2509494             2        0.138985
44   2163008             2        0.138985
45   2219863             2        0.138985
46   2509481             2        0.138985
47     10239             2        0.138985
48    366617             2        0.138985
49   2901879             2        0.138985
50   2419667             2        0.138985
51     42005             2        0.138985
52   3018851             2        0.138985
53   1586324             2        0.138985
54   2776968             1        0.069493
55   2509476             1        0.069493
56   2492656             1        0.069493
57    366619             1        0.069493
58   1428481             1        0.069493
59   1344565             1        0.069493
60    389252             1        0.069493
61   2509514             1        0.069493
62   2691585             1        0.069493
63   1480113             1        0.069493
64   2709072             1        0.069493
65   2249315             1        0.069493
66   2691595             1        0.069493
67   2078581             1        0.069493
68   2724161             1        0.069493
69   2781647             1        0.069493
70   1911231             1        0.069493
71   2591238             1        0.069493
72    696098             1        0.069493
73   1269327             1        0.069493
74   2727857             1        0.069493
75   2116470             1        0.069493
76   1241933             1        0.069493
77   2509503             1        0.069493
78    694007             1        0.069493
79    694448             1        0.069493
80   2587487             1        0.069493
81   2801853             1        0.069493
82   2591233             1        0.069493
83    264370             1        0.069493
84    136187             1        0.069493
85   2801855             1        0.069493
86   2801852             1        0.069493
87   2801851             1        0.069493
88     11142             1        0.069493
89   2801854             1        0.069493
90    228407             1        0.069493
91   2569586             1        0.069493
92   1368314             1        0.069493
93    293321             1        0.069493
94   2520503             1        0.069493
95    694000             1        0.069493
96   2032731             1        0.069493
97    322593             1        0.069493
98    215681             1        0.069493
99    424367             1        0.069493
100   693998             1        0.069493
101   398812             1        0.069493
102  1415851             1        0.069493
103  1384461             1        0.069493
104   983923             1        0.069493
105  2050019             1        0.069493
106  3018859             1        0.069493
107  3018868             1        0.069493
108  3018884             1        0.069493
109  3018875             1        0.069493
110  3018862             1        0.069493
111  3018911             1        0.069493
112  3018909             1        0.069493
113  3018886             1        0.069493
114  3018898             1        0.069493
115  3018872             1        0.069493
116  3018885             1        0.069493
117  3018877             1        0.069493
118  2913384             1        0.069493
119   413073             1        0.069493
120   413075             1        0.069493
121  3018873             1        0.069493
122  3018850             1        0.069493
123   424368             1        0.069493
124  3070154             1        0.069493
125  2860474             1        0.069493
126  2919017             1        0.069493
127  2832974             1        0.069493
128  2833184             1        0.069493
129  2993504             1        0.069493
130  3069910             1        0.069493
131  3070155             1        0.069493
132  3018825             1        0.069493
133  3018913             1        0.069493
134  3018855             1        0.069493
135  3018867             1        0.069493
136  3018845             1        0.069493
137  3018908             1        0.069493
138  3018887             1        0.069493
139   413076             1        0.069493
140   424370             1        0.069493
141  1508228             1        0.069493
142  1052262             1        0.069493
143   983922             1        0.069493
144   983924             1        0.069493
145   983926             1        0.069493
146   983928             1        0.069493
147   983929             1        0.069493
148  1034321             1        0.069493
149  1052263             1        0.069493
150   931914             1        0.069493
151  1159907             1        0.069493
152  1159906             1        0.069493
153  1159903             1        0.069493
154  1159904             1        0.069493
155  1159908             1        0.069493
156  1159902             1        0.069493
157   989337             1        0.069493
158   931896             1        0.069493
159   431320             1        0.069493
160  1737344             1        0.069493
161   389145             1        0.069493
162   300188             1        0.069493
163   694015             1        0.069493
164   574549             1        0.069493
165  1159901             1        0.069493
166   572289             1        0.069493
167  1503291             1        0.069493
168   931894             1        0.069493
169  1503295             1        0.069493
170  1503293             1        0.069493
171   727988             1        0.069493
172   864596             1        0.069493
173  1898672             1        0.069493
174  1766554             1        0.069493
175  2836124             1        0.069493
Number of unique values = 170
                                        embl_host_name  embl_host_name_count  embl_host_name_percent
0                                          ['chicken']                   167               11.605281
1                                     ['Homo sapiens']                   155               10.771369
2                                    ['Gallus gallus']                    97                6.740792
3                                      ['Felis catus']                    48                3.335650
4                                          ['porcine']                    18                1.250869
5                                              ['cat']                    17                1.181376
6                           ['Canis lupus familiaris']                    17                1.181376
7                                              ['pig']                    16                1.111883
8                         ['Gallus gallus domesticus']                    14                0.972898
9                                          ['Chicken']                    12                0.833912
10                                             ['bat']                    12                0.833912
11                                 ['broiler chicken']                    12                0.833912
12                                      ['Sus scrofa']                    11                0.764420
13                                 ['Rhinolophus sp.']                    10                0.694927
14                                           ['swine']                     9                0.625434
15                             ['Rhinolophus sinicus']                     9                0.625434
16                                ['Canis familiaris']                     8                0.555942
17                         ['Gallus gallus (chicken)']                     7                0.486449
18                                          ['ferret']                     5                0.347464
19                          ['Rhinolophus acuminatus']                     5                0.347464
20                                          ['Feline']                     4                0.277971
21                                             ['dog']                     4                0.277971
22                           ['Pan troglodytes verus']                     4                0.277971
23                  ['Mustela putorius furo (ferret)']                     4                0.277971
24                                ['chicken; broiler']                     4                0.277971
25                            ['Rhinolophus cornutus']                     3                0.208478
26                ['Eptesicus fuscus (big brown bat)']                     3                0.208478
27                                         ['poultry']                     3                0.208478
28                           ['Rhinolophus malayanus']                     3                0.208478
29                                  ['Eidolon helvum']                     3                0.208478
30                                         ['broiler']                     3                0.208478
31                               ['Anas superciliosa']                     3                0.208478
32                             ['Rhinolophus affinis']                     3                0.208478
33                                          ['canine']                     3                0.208478
34                             ['Meleagris gallopavo']                     3                0.208478
35                                   ['Rousettus sp.']                     3                0.208478
36                                   ['Columba livia']                     3                0.208478
37                                         ['sparrow']                     3                0.208478
38                                   ['kennelled dog']                     3                0.208478
39                                         ['Broiler']                     3                0.208478
40                               ['Felis catus (cat)']                     3                0.208478
41                                          ['feline']                     3                0.208478
42                             ['Camelus dromedarius']                     2                0.138985
43                           ['Rousettus aegyptiacus']                     2                0.138985
44                             ['Pipistrellus kuhlii']                     2                0.138985
45                           ['Hipposideros larvatus']                     2                0.138985
46                                     ['guinea fowl']                     2                0.138985
47                        ['Miniopterus schreibersii']                     2                0.138985
48                               ['chicken (broiler)']                     2                0.138985
49                                          ['cattle']                     2                0.138985
50                       ['Rhinolophus ferrumequinum']                     2                0.138985
51                               ['Desmodus rotundus']                     2                0.138985
52                                           ['camel']                     2                0.138985
53                   ['Homo sapiens; sex: F; age: 7Y']                     2                0.138985
54                            ['Pipistrellus abramus']                     2                0.138985
55                   ['Homo sapiens; sex: M; age: 7Y']                     1                0.069493
56                           ['Mystacina tuberculata']                     1                0.069493
57                             ['Tadorna tadornoides']                     1                0.069493
58            ['Arenaria interpres (ruddy turnstone)']                     1                0.069493
59                       ['Gallus gallus; layer type']                     1                0.069493
60                   ['Homo sapiens; sex: M; age: 5Y']                     1                0.069493
61                               ['Cynopterus sphinx']                     1                0.069493
62                  ['Rhinolophus hipposideros (bat)']                     1                0.069493
63                  ['Homo sapiens sample 4310600038']                     1                0.069493
64                                           ['Horse']                     1                0.069493
65                 ['Rhinolophus ferrumequinum (bat)']                     1                0.069493
66                              ['Rhinolophus stheno']                     1                0.069493
67                                 ['Myotis muricola']                     1                0.069493
68                               ['Branta canadensis']                     1                0.069493
69                                ['broiler chickens']                     1                0.069493
70                                            ['goat']                     1                0.069493
71                                             ['yak']                     1                0.069493
72                               ['Microtus agrestis']                     1                0.069493
73                                ['Miniopterus spp.']                     1                0.069493
74                               ['Bandicota savilei']                     1                0.069493
75                                  ['Rattus exulans']                     1                0.069493
76                           ['Rhinolophus sp. (bat)']                     1                0.069493
77                                 ['Murina cyclotis']                     1                0.069493
78                             ['Erinaceus europaeus']                     1                0.069493
79                                   ['Anas gracilis']                     1                0.069493
80                                ['Bandicota indica']                     1                0.069493
81                   ['Homo sapiens; sex: M; age: 9Y']                     1                0.069493
82                            ['Vespertilio sinensis']                     1                0.069493
83                  ['Homo sapiens; sex: F; age: 15Y']                     1                0.069493
84                  ['Homo sapiens; sex: M; age: 43Y']                     1                0.069493
85                                ['Myotis lucifugus']                     1                0.069493
86                                ['15 days old calf']                     1                0.069493
87                                 ['chicken-broiler']                     1                0.069493
88                                  ['Manis javanica']                     1                0.069493
89               ['Manis javanica (Malayan pangolin)']                     1                0.069493
90                                           ['Layer']                     1                0.069493
91                   ['pre-weaned Korean native calf']                     1                0.069493
92                            ['Miniopterus pusillus']                     1                0.069493
93                         ['Gallus gallus (broiler)']                     1                0.069493
94                              ['Scotophilus kuhlii']                     1                0.069493
95                                 ['Crocuta crocuta']                     1                0.069493
96                             ['Erinaceus amurensis']                     1                0.069493
97                               ['Gallus domesticus']                     1                0.069493
98                             ['Neoromicia capensis']                     1                0.069493
99                                 ['Myotis brandtii']                     1                0.069493
100                              ['Myotis ikonnikovi']                     1                0.069493
101                           ['Myotis macrodactylus']                     1                0.069493
102                             ['chicken; Br parent']                     1                0.069493
103                                      ['shorebird']                     1                0.069493
104                                   ['domestic dog']                     1                0.069493
105                           ['Rhinolophus pusillus']                     1                0.069493
106                                         ['Gallus']                     1                0.069493
107                      ['Mustela putorius (ferret)']                     1                0.069493
108                           ['Eidolon helvum (bat)']                     1                0.069493
109                       ['Chaerephon pumilus (bat)']                     1                0.069493
110                          ['Cardioderma cor (bat)']                     1                0.069493
111                        ['Hipposideros commersoni']                     1                0.069493
112     ['Gallus gallus (48 week-old breeder layers)']                     1                0.069493
113                          ['Hipposideros vittatus']                     1                0.069493
114                               ['Hipposideros sp.']                     1                0.069493
115  ['Oryctolagus cuniculus; breed: New Zealand ra...                     1                0.069493

In [17]:
df.head()

           uniref90_id  tax_id host_tax_ids embl_ref_id embl_host_name
0  UniRef90_A0A023PUW9  694009          NaN  AHX37558.1            NaN
1  UniRef90_A0A8F1BB48   11120          NaN  QWM97422.1            NaN
2  UniRef90_A0A8F1BB52   11120          NaN  QWM97437.1            NaN
3  UniRef90_A0A023VWC7   11120          NaN  AHY19803.1            NaN
4  UniRef90_A0A8F1BBN9   11120          NaN  QWM97409.1            NaN

In [29]:
print(f"Total sequences = {df.shape[0]}")
print(f"Sequences without Uniprot hosts = {sum(df['host_tax_ids'].isna())}")
print(f"Sequences without EMBL hosts = {sum(df['embl_host_name'].isna())}")
print(f"Sequences with EMBL hosts, without UniProt hosts = {df[df['host_tax_ids'].isna() & ~df['embl_host_name'].isna()].shape[0]}")
print(f"Sequences with Uniprot hosts, without EMBL hosts = {df[~df['host_tax_ids'].isna() & df['embl_host_name'].isna()].shape[0]}")
print(f"Sequences without Uniprot hosts, without EMBL hosts = {df[df['host_tax_ids'].isna() & df['embl_host_name'].isna()].shape[0]}")

Total sequences = 1439
Sequences without Uniprot hosts = 1171
Sequences without EMBL hosts = 579
Sequences with EMBL hosts, without UniProt hosts = 683
Sequences with Uniprot hosts, without EMBL hosts = 91
Sequences without Uniprot hosts, without EMBL hosts = 488

### coronaviridae_s_uniref90_embl_hosts_pruned.csv

In [30]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned.csv")
df = analyze_df(file_path)

df size =  (860, 5)
           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']
Number of unique values = 114
      tax_id  tax_id_count  tax_id_percent
0      11120           276       32.093023
1    2697049            93       10.813953
2      12663            70        8.139535
3     694014            64        7.441860
4      31631            55        6.395349
5      28295            47        5.465116
6      11118            22        2.558140
7      11153            20        2.325581
8    2501931            16        1.860465
9     693997            16        1.860465
10   1508220            15        1.744186
11   2115988             8        0.930233
12   1335626             8        0.930233
13   1264898             7        0.813953
14    290028             5        0.581395
15    694003             4        0.465116
16     11128             4        0.465116
17   1906673             4        0.465116
18   1739614             4        0.465116
19   1928434             3        0.348837
20    694008             3        0.348837
21    693996             3        0.348837
22   2050018             3        0.348837
23   2664420             3        0.348837
24     11135             3        0.348837
25     11137             3        0.348837
26    694006             3        0.348837
27    300189             3        0.348837
28     11152             2        0.232558
29   2341010             2        0.232558
30   1986198             2        0.232558
31   2163008             2        0.232558
32    366617             2        0.232558
33   2708335             2        0.232558
34   2219863             2        0.232558
35    277944             2        0.232558
36    694002             2        0.232558
37   2569586             1        0.116279
38    136187             1        0.116279
39    694009             1        0.116279
40   2520503             1        0.116279
41    694000             1        0.116279
42    322593             1        0.116279
43    215681             1        0.116279
44   2419667             1        0.116279
45   2509503             1        0.116279
46   2492656             1        0.116279
47    366619             1        0.116279
48   2591233             1        0.116279
49   1503291             1        0.116279
50   1586324             1        0.116279
51   2801855             1        0.116279
52   2836124             1        0.116279
53   2776968             1        0.116279
54   1480113             1        0.116279
55   1344565             1        0.116279
56   1428481             1        0.116279
57   2801854             1        0.116279
58   2801851             1        0.116279
59   2801852             1        0.116279
60   2801853             1        0.116279
61   2691595             1        0.116279
62   2509511             1        0.116279
63    694015             1        0.116279
64   2781647             1        0.116279
65   1384461             1        0.116279
66    424367             1        0.116279
67   2509514             1        0.116279
68   2709072             1        0.116279
69   2691585             1        0.116279
70   2591238             1        0.116279
71   1911231             1        0.116279
72   2249315             1        0.116279
73    931914             1        0.116279
74   1034321             1        0.116279
75    983929             1        0.116279
76    983928             1        0.116279
77    983926             1        0.116279
78    983924             1        0.116279
79    983923             1        0.116279
80    983922             1        0.116279
81    989337             1        0.116279
82    931896             1        0.116279
83   2078581             1        0.116279
84    931894             1        0.116279
85   1766554             1        0.116279
86   1898672             1        0.116279
87    864596             1        0.116279
88    727988             1        0.116279
89     11146             1        0.116279
90     11149             1        0.116279
91   1503293             1        0.116279
92   1052262             1        0.116279
93   1052263             1        0.116279
94   1737344             1        0.116279
95   1159907             1        0.116279
96   2724161             1        0.116279
97    574549             1        0.116279
98   1503295             1        0.116279
99    696098             1        0.116279
100  1269327             1        0.116279
101  2727857             1        0.116279
102  2116470             1        0.116279
103  1241933             1        0.116279
104  1159901             1        0.116279
105   572289             1        0.116279
106  2050019             1        0.116279
107  1508228             1        0.116279
108  1159902             1        0.116279
109  1159908             1        0.116279
110  1159904             1        0.116279
111  1159903             1        0.116279
112  1159906             1        0.116279
113   694448             1        0.116279
Number of unique values = 169
                                        embl_host_name  embl_host_name_count  embl_host_name_percent
0                                          ['chicken']                   167               19.418605
1                                     ['Homo sapiens']                   155               18.023256
2                                    ['Gallus gallus']                    97               11.279070
3                                      ['Felis catus']                    48                5.581395
4                                          ['porcine']                    18                2.093023
5                                              ['cat']                    17                1.976744
6                           ['Canis lupus familiaris']                    17                1.976744
7                                              ['pig']                    16                1.860465
8                         ['Gallus gallus domesticus']                    14                1.627907
9                                          ['Chicken']                    12                1.395349
10                                             ['bat']                    12                1.395349
11                                 ['broiler chicken']                    12                1.395349
12                                      ['Sus scrofa']                    11                1.279070
13                                 ['Rhinolophus sp.']                    10                1.162791
14                                           ['swine']                     9                1.046512
15                             ['Rhinolophus sinicus']                     9                1.046512
16                                ['Canis familiaris']                     8                0.930233
17                         ['Gallus gallus (chicken)']                     7                0.813953
18                                          ['ferret']                     5                0.581395
19                          ['Rhinolophus acuminatus']                     5                0.581395
20                                          ['Feline']                     4                0.465116
21                                             ['dog']                     4                0.465116
22                           ['Pan troglodytes verus']                     4                0.465116
23                  ['Mustela putorius furo (ferret)']                     4                0.465116
24                                ['chicken; broiler']                     4                0.465116
25                            ['Rhinolophus cornutus']                     3                0.348837
26                ['Eptesicus fuscus (big brown bat)']                     3                0.348837
27                                         ['poultry']                     3                0.348837
28                           ['Rhinolophus malayanus']                     3                0.348837
29                                  ['Eidolon helvum']                     3                0.348837
30                                         ['broiler']                     3                0.348837
31                               ['Anas superciliosa']                     3                0.348837
32                             ['Rhinolophus affinis']                     3                0.348837
33                                          ['canine']                     3                0.348837
34                             ['Meleagris gallopavo']                     3                0.348837
35                                   ['Rousettus sp.']                     3                0.348837
36                                   ['Columba livia']                     3                0.348837
37                                         ['sparrow']                     3                0.348837
38                                   ['kennelled dog']                     3                0.348837
39                                         ['Broiler']                     3                0.348837
40                               ['Felis catus (cat)']                     3                0.348837
41                                          ['feline']                     3                0.348837
42                             ['Camelus dromedarius']                     2                0.232558
43                           ['Rousettus aegyptiacus']                     2                0.232558
44                             ['Pipistrellus kuhlii']                     2                0.232558
45                           ['Hipposideros larvatus']                     2                0.232558
46                                     ['guinea fowl']                     2                0.232558
47                        ['Miniopterus schreibersii']                     2                0.232558
48                               ['chicken (broiler)']                     2                0.232558
49                                          ['cattle']                     2                0.232558
50                       ['Rhinolophus ferrumequinum']                     2                0.232558
51                               ['Desmodus rotundus']                     2                0.232558
52                                           ['camel']                     2                0.232558
53                   ['Homo sapiens; sex: F; age: 7Y']                     2                0.232558
54                            ['Pipistrellus abramus']                     2                0.232558
55                   ['Homo sapiens; sex: M; age: 7Y']                     1                0.116279
56                           ['Mystacina tuberculata']                     1                0.116279
57                             ['Tadorna tadornoides']                     1                0.116279
58            ['Arenaria interpres (ruddy turnstone)']                     1                0.116279
59                       ['Gallus gallus; layer type']                     1                0.116279
60                   ['Homo sapiens; sex: M; age: 5Y']                     1                0.116279
61                               ['Cynopterus sphinx']                     1                0.116279
62                  ['Rhinolophus hipposideros (bat)']                     1                0.116279
63                  ['Homo sapiens sample 4310600038']                     1                0.116279
64                                           ['Horse']                     1                0.116279
65                 ['Rhinolophus ferrumequinum (bat)']                     1                0.116279
66                              ['Rhinolophus stheno']                     1                0.116279
67                                 ['Myotis muricola']                     1                0.116279
68                               ['Branta canadensis']                     1                0.116279
69                                ['broiler chickens']                     1                0.116279
70                                            ['goat']                     1                0.116279
71                                             ['yak']                     1                0.116279
72                               ['Microtus agrestis']                     1                0.116279
73                                ['Miniopterus spp.']                     1                0.116279
74                               ['Bandicota savilei']                     1                0.116279
75                                  ['Rattus exulans']                     1                0.116279
76                           ['Rhinolophus sp. (bat)']                     1                0.116279
77                                 ['Murina cyclotis']                     1                0.116279
78                             ['Erinaceus europaeus']                     1                0.116279
79                                   ['Anas gracilis']                     1                0.116279
80                                ['Bandicota indica']                     1                0.116279
81                   ['Homo sapiens; sex: M; age: 9Y']                     1                0.116279
82                            ['Vespertilio sinensis']                     1                0.116279
83                  ['Homo sapiens; sex: F; age: 15Y']                     1                0.116279
84                  ['Homo sapiens; sex: M; age: 43Y']                     1                0.116279
85                                ['Myotis lucifugus']                     1                0.116279
86                                ['15 days old calf']                     1                0.116279
87                                 ['chicken-broiler']                     1                0.116279
88                                  ['Manis javanica']                     1                0.116279
89               ['Manis javanica (Malayan pangolin)']                     1                0.116279
90                                           ['Layer']                     1                0.116279
91                   ['pre-weaned Korean native calf']                     1                0.116279
92                            ['Miniopterus pusillus']                     1                0.116279
93                         ['Gallus gallus (broiler)']                     1                0.116279
94                              ['Scotophilus kuhlii']                     1                0.116279
95                                 ['Crocuta crocuta']                     1                0.116279
96                             ['Erinaceus amurensis']                     1                0.116279
97                               ['Gallus domesticus']                     1                0.116279
98                             ['Neoromicia capensis']                     1                0.116279
99                                 ['Myotis brandtii']                     1                0.116279
100                              ['Myotis ikonnikovi']                     1                0.116279
101                           ['Myotis macrodactylus']                     1                0.116279
102                             ['chicken; Br parent']                     1                0.116279
103                                      ['shorebird']                     1                0.116279
104                                   ['domestic dog']                     1                0.116279
105                           ['Rhinolophus pusillus']                     1                0.116279
106                                         ['Gallus']                     1                0.116279
107                      ['Mustela putorius (ferret)']                     1                0.116279
108                           ['Eidolon helvum (bat)']                     1                0.116279
109                       ['Chaerephon pumilus (bat)']                     1                0.116279
110                          ['Cardioderma cor (bat)']                     1                0.116279
111                        ['Hipposideros commersoni']                     1                0.116279
112     ['Gallus gallus (48 week-old breeder layers)']                     1                0.116279
113                          ['Hipposideros vittatus']                     1                0.116279
114                               ['Hipposideros sp.']                     1                0.116279
115  ['Oryctolagus cuniculus; breed: New Zealand ra...                     1                0.116279
116                         ['Rousettus leschenaulti']                     1                0.116279
117                                    ['bat BF_506I']                     1                0.116279
118                                    ['bat BF_258I']                     1                0.116279
119                             ['Rhinolophus blasii']                     1                0.116279
120                          ['Cynomops planirostris']                     1                0.116279
121                             ['Murina leucogaster']                     1                0.116279
122                     ['Miniopterus inflatus (bat)']                     1                0.116279
123                                ['Myotis ricketti']                     1                0.116279
124                             ['Nyctalus velutinus']                     1                0.116279
125                        ['Miniopterus fuliginosus']                     1                0.116279
126             ['Gallus gallus domesticus (chicken)']                     1                0.116279
127                              ['Hipposideros abae']                     1                0.116279
128                         ['Hipposideros cf. ruber']                     1                0.116279
129                            ['Rhinolophus euryale']                     1                0.116279
130                          ['Mustela putorius furo']                     1                0.116279
131                      ['Rhinolophus Ferrumequinum']                     1                0.116279
132                             ['white-rumped munia']                     1                0.116279
133                             ['grey-backed thrush']                     1                0.116279
134                           ['red-whiskered bulbul']                     1                0.116279
135           ['Delphinapterus leucas (beluga whale)']                     1                0.116279
136                   ['Miniopterus natalensis (bat)']                     1                0.116279
137                           ['Chaerephon sp. (bat)']                     1                0.116279
138                           ['Rattus argentiventer']                     1                0.116279
139                          ['Tropidophorus sinicus']                     1                0.116279
140                               ['Backyard chicken']                     1                0.116279
141                                  ['layer chicken']                     1                0.116279

In [33]:
df.head()

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']

### coronaviridae_s_uniref90_embl_hosts_pruned_metadata.csv

In [5]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_virus_host_genus.csv")
df = analyze_df(file_path)

df size =  (860, 10)
           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
Number of unique values = 114
      tax_id  tax_id_count  tax_id_percent
0      11120           276       32.093023
1    2697049            93       10.813953
2      12663            70        8.139535
3     694014            64        7.441860
4      31631            55        6.395349
5      28295            47        5.465116
6      11118            22        2.558140
7      11153            20        2.325581
8    2501931            16        1.860465
9     693997            16        1.860465
10   1508220            15        1.744186
11   2115988             8        0.930233
12   1335626             8        0.930233
13   1264898             7        0.813953
14    290028             5        0.581395
15    694003             4        0.465116
16     11128             4        0.465116
17   1906673             4        0.465116
18   1739614             4        0.465116
19   1928434             3        0.348837
20    694008             3        0.348837
21    693996             3        0.348837
22   2050018             3        0.348837
23   2664420             3        0.348837
24     11135             3        0.348837
25     11137             3        0.348837
26    694006             3        0.348837
27    300189             3        0.348837
28     11152             2        0.232558
29   2341010             2        0.232558
30   1986198             2        0.232558
31   2163008             2        0.232558
32    366617             2        0.232558
33   2708335             2        0.232558
34   2219863             2        0.232558
35    277944             2        0.232558
36    694002             2        0.232558
37   2569586             1        0.116279
38    136187             1        0.116279
39    694009             1        0.116279
40   2520503             1        0.116279
41    694000             1        0.116279
42    322593             1        0.116279
43    215681             1        0.116279
44   2419667             1        0.116279
45   2509503             1        0.116279
46   2492656             1        0.116279
47    366619             1        0.116279
48   2591233             1        0.116279
49   1503291             1        0.116279
50   1586324             1        0.116279
51   2801855             1        0.116279
52   2836124             1        0.116279
53   2776968             1        0.116279
54   1480113             1        0.116279
55   1344565             1        0.116279
56   1428481             1        0.116279
57   2801854             1        0.116279
58   2801851             1        0.116279
59   2801852             1        0.116279
60   2801853             1        0.116279
61   2691595             1        0.116279
62   2509511             1        0.116279
63    694015             1        0.116279
64   2781647             1        0.116279
65   1384461             1        0.116279
66    424367             1        0.116279
67   2509514             1        0.116279
68   2709072             1        0.116279
69   2691585             1        0.116279
70   2591238             1        0.116279
71   1911231             1        0.116279
72   2249315             1        0.116279
73    931914             1        0.116279
74   1034321             1        0.116279
75    983929             1        0.116279
76    983928             1        0.116279
77    983926             1        0.116279
78    983924             1        0.116279
79    983923             1        0.116279
80    983922             1        0.116279
81    989337             1        0.116279
82    931896             1        0.116279
83   2078581             1        0.116279
84    931894             1        0.116279
85   1766554             1        0.116279
86   1898672             1        0.116279
87    864596             1        0.116279
88    727988             1        0.116279
89     11146             1        0.116279
90     11149             1        0.116279
91   1503293             1        0.116279
92   1052262             1        0.116279
93   1052263             1        0.116279
94   1737344             1        0.116279
95   1159907             1        0.116279
96   2724161             1        0.116279
97    574549             1        0.116279
98   1503295             1        0.116279
99    696098             1        0.116279
100  1269327             1        0.116279
101  2727857             1        0.116279
102  2116470             1        0.116279
103  1241933             1        0.116279
104  1159901             1        0.116279
105   572289             1        0.116279
106  2050019             1        0.116279
107  1508228             1        0.116279
108  1159902             1        0.116279
109  1159908             1        0.116279
110  1159904             1        0.116279
111  1159903             1        0.116279
112  1159906             1        0.116279
113   694448             1        0.116279
Number of unique values = 169
                                        embl_host_name  embl_host_name_count  embl_host_name_percent
0                                          ['chicken']                   167               19.418605
1                                     ['Homo sapiens']                   155               18.023256
2                                    ['Gallus gallus']                    97               11.279070
3                                      ['Felis catus']                    48                5.581395
4                                          ['porcine']                    18                2.093023
5                                              ['cat']                    17                1.976744
6                           ['Canis lupus familiaris']                    17                1.976744
7                                              ['pig']                    16                1.860465
8                         ['Gallus gallus domesticus']                    14                1.627907
9                                          ['Chicken']                    12                1.395349
10                                             ['bat']                    12                1.395349
11                                 ['broiler chicken']                    12                1.395349
12                                      ['Sus scrofa']                    11                1.279070
13                                 ['Rhinolophus sp.']                    10                1.162791
14                                           ['swine']                     9                1.046512
15                             ['Rhinolophus sinicus']                     9                1.046512
16                                ['Canis familiaris']                     8                0.930233
17                         ['Gallus gallus (chicken)']                     7                0.813953
18                                          ['ferret']                     5                0.581395
19                          ['Rhinolophus acuminatus']                     5                0.581395
20                                          ['Feline']                     4                0.465116
21                                             ['dog']                     4                0.465116
22                           ['Pan troglodytes verus']                     4                0.465116
23                  ['Mustela putorius furo (ferret)']                     4                0.465116
24                                ['chicken; broiler']                     4                0.465116
25                            ['Rhinolophus cornutus']                     3                0.348837
26                ['Eptesicus fuscus (big brown bat)']                     3                0.348837
27                                         ['poultry']                     3                0.348837
28                           ['Rhinolophus malayanus']                     3                0.348837
29                                  ['Eidolon helvum']                     3                0.348837
30                                         ['broiler']                     3                0.348837
31                               ['Anas superciliosa']                     3                0.348837
32                             ['Rhinolophus affinis']                     3                0.348837
33                                          ['canine']                     3                0.348837
34                             ['Meleagris gallopavo']                     3                0.348837
35                                   ['Rousettus sp.']                     3                0.348837
36                                   ['Columba livia']                     3                0.348837
37                                         ['sparrow']                     3                0.348837
38                                   ['kennelled dog']                     3                0.348837
39                                         ['Broiler']                     3                0.348837
40                               ['Felis catus (cat)']                     3                0.348837
41                                          ['feline']                     3                0.348837
42                             ['Camelus dromedarius']                     2                0.232558
43                           ['Rousettus aegyptiacus']                     2                0.232558
44                             ['Pipistrellus kuhlii']                     2                0.232558
45                           ['Hipposideros larvatus']                     2                0.232558
46                                     ['guinea fowl']                     2                0.232558
47                        ['Miniopterus schreibersii']                     2                0.232558
48                               ['chicken (broiler)']                     2                0.232558
49                                          ['cattle']                     2                0.232558
50                       ['Rhinolophus ferrumequinum']                     2                0.232558
51                               ['Desmodus rotundus']                     2                0.232558
52                                           ['camel']                     2                0.232558
53                   ['Homo sapiens; sex: F; age: 7Y']                     2                0.232558
54                            ['Pipistrellus abramus']                     2                0.232558
55                   ['Homo sapiens; sex: M; age: 7Y']                     1                0.116279
56                           ['Mystacina tuberculata']                     1                0.116279
57                             ['Tadorna tadornoides']                     1                0.116279
58            ['Arenaria interpres (ruddy turnstone)']                     1                0.116279
59                       ['Gallus gallus; layer type']                     1                0.116279
60                   ['Homo sapiens; sex: M; age: 5Y']                     1                0.116279
61                               ['Cynopterus sphinx']                     1                0.116279
62                  ['Rhinolophus hipposideros (bat)']                     1                0.116279
63                  ['Homo sapiens sample 4310600038']                     1                0.116279
64                                           ['Horse']                     1                0.116279
65                 ['Rhinolophus ferrumequinum (bat)']                     1                0.116279
66                              ['Rhinolophus stheno']                     1                0.116279
67                                 ['Myotis muricola']                     1                0.116279
68                               ['Branta canadensis']                     1                0.116279
69                                ['broiler chickens']                     1                0.116279
70                                            ['goat']                     1                0.116279
71                                             ['yak']                     1                0.116279
72                               ['Microtus agrestis']                     1                0.116279
73                                ['Miniopterus spp.']                     1                0.116279
74                               ['Bandicota savilei']                     1                0.116279
75                                  ['Rattus exulans']                     1                0.116279
76                           ['Rhinolophus sp. (bat)']                     1                0.116279
77                                 ['Murina cyclotis']                     1                0.116279
78                             ['Erinaceus europaeus']                     1                0.116279
79                                   ['Anas gracilis']                     1                0.116279
80                                ['Bandicota indica']                     1                0.116279
81                   ['Homo sapiens; sex: M; age: 9Y']                     1                0.116279
82                            ['Vespertilio sinensis']                     1                0.116279
83                  ['Homo sapiens; sex: F; age: 15Y']                     1                0.116279
84                  ['Homo sapiens; sex: M; age: 43Y']                     1                0.116279
85                                ['Myotis lucifugus']                     1                0.116279
86                                ['15 days old calf']                     1                0.116279
87                                 ['chicken-broiler']                     1                0.116279
88                                  ['Manis javanica']                     1                0.116279
89               ['Manis javanica (Malayan pangolin)']                     1                0.116279
90                                           ['Layer']                     1                0.116279
91                   ['pre-weaned Korean native calf']                     1                0.116279
92                            ['Miniopterus pusillus']                     1                0.116279
93                         ['Gallus gallus (broiler)']                     1                0.116279
94                              ['Scotophilus kuhlii']                     1                0.116279
95                                 ['Crocuta crocuta']                     1                0.116279
96                             ['Erinaceus amurensis']                     1                0.116279
97                               ['Gallus domesticus']                     1                0.116279
98                             ['Neoromicia capensis']                     1                0.116279
99                                 ['Myotis brandtii']                     1                0.116279
100                              ['Myotis ikonnikovi']                     1                0.116279
101                           ['Myotis macrodactylus']                     1                0.116279
102                             ['chicken; Br parent']                     1                0.116279
103                                      ['shorebird']                     1                0.116279
104                                   ['domestic dog']                     1                0.116279
105                           ['Rhinolophus pusillus']                     1                0.116279
106                                         ['Gallus']                     1                0.116279
107                      ['Mustela putorius (ferret)']                     1                0.116279
108                           ['Eidolon helvum (bat)']                     1                0.116279
109                       ['Chaerephon pumilus (bat)']                     1                0.116279
110                          ['Cardioderma cor (bat)']                     1                0.116279
111                        ['Hipposideros commersoni']                     1                0.116279
112     ['Gallus gallus (48 week-old breeder layers)']                     1                0.116279
113                          ['Hipposideros vittatus']                     1                0.116279
114                               ['Hipposideros sp.']                     1                0.116279
115  ['Oryctolagus cuniculus; breed: New Zealand ra...                     1                0.116279
116                         ['Rousettus leschenaulti']                     1                0.116279
117                                    ['bat BF_506I']                     1                0.116279
118                                    ['bat BF_258I']                     1                0.116279
119                             ['Rhinolophus blasii']                     1                0.116279
120                          ['Cynomops planirostris']                     1                0.116279
121                             ['Murina leucogaster']                     1                0.116279
122                     ['Miniopterus inflatus (bat)']                     1                0.116279
123                                ['Myotis ricketti']                     1                0.116279
124                             ['Nyctalus velutinus']                     1                0.116279
125                        ['Miniopterus fuliginosus']                     1                0.116279
126             ['Gallus gallus domesticus (chicken)']                     1                0.116279
127                              ['Hipposideros abae']                     1                0.116279
128                         ['Hipposideros cf. ruber']                     1                0.116279
129                            ['Rhinolophus euryale']                     1                0.116279
130                          ['Mustela putorius furo']                     1                0.116279
131                      ['Rhinolophus Ferrumequinum']                     1                0.116279
132                             ['white-rumped munia']                     1                0.116279
133                             ['grey-backed thrush']                     1                0.116279
134                           ['red-whiskered bulbul']                     1                0.116279
135           ['Delphinapterus leucas (beluga whale)']                     1                0.116279

In [6]:
column_stats(df, "virus_host_name")

Number of unique values = 128
                                virus_host_name  virus_host_name_count  virus_host_name_percent
0                                       chicken                    172                20.000000
1                                          Homo                    162                18.837209
2                                        Gallus                    100                11.627907
3                                         Felis                     48                 5.581395
4                                   Rhinolophus                     39                 4.534884
5                                       porcine                     18                 2.093023
6                                         Canis                     18                 2.093023
7                                           cat                     17                 1.976744
8                                           pig                     16                 1.860465
9                      Gallus gallus domesticus                     14                 1.627907
10                                      Chicken                     12                 1.395349
11                                          bat                     12                 1.395349
12                              broiler chicken                     12                 1.395349
13                                          Sus                     11                 1.279070
14                                        swine                      9                 1.046512
15                                       Myotis                      8                 0.930233
16                             Canis familiaris                      8                 0.930233
17                      Gallus gallus (chicken)                      7                 0.813953
18                                    Rousettus                      5                 0.581395
19                                 Pipistrellus                      5                 0.581395
20                                       ferret                      5                 0.581395
21                                          Pan                      4                 0.465116
22                                 Hipposideros                      4                 0.465116
23                                  Miniopterus                      4                 0.465116
24                                         Anas                      4                 0.465116
25               Mustela putorius furo (ferret)                      4                 0.465116
26                                          dog                      4                 0.465116
27                                       Feline                      4                 0.465116
28                                      Broiler                      3                 0.348837
29                                      Eidolon                      3                 0.348837
30                                      poultry                      3                 0.348837
31                                      Columba                      3                 0.348837
32                                kennelled dog                      3                 0.348837
33                                    Meleagris                      3                 0.348837
34             Eptesicus fuscus (big brown bat)                      3                 0.348837
35                                       feline                      3                 0.348837
36                                       canine                      3                 0.348837
37                                      broiler                      3                 0.348837
38                            Felis catus (cat)                      3                 0.348837
39                                      sparrow                      3                 0.348837
40                                    Erinaceus                      2                 0.232558
41                                      Camelus                      2                 0.232558
42                                  guinea fowl                      2                 0.232558
43                                        camel                      2                 0.232558
44                                       Rattus                      2                 0.232558
45                                       cattle                      2                 0.232558
46                                     Desmodus                      2                 0.232558
47                                       Murina                      2                 0.232558
48                            chicken (broiler)                      2                 0.232558
49                                    Bandicota                      2                 0.232558
50                        Rhinolophus sp. (bat)                      1                 0.116279
51                                        Layer                      1                 0.116279
52                                     Coturnix                      1                 0.116279
53                                layer chicken                      1                 0.116279
54                             Miniopterus spp.                      1                 0.116279
55                             broiler chickens                      1                 0.116279
56                                     Microtus                      1                 0.116279
57                                          yak                      1                 0.116279
58                                         goat                      1                 0.116279
59                             Backyard chicken                      1                 0.116279
60                pre-weaned Korean native calf                      1                 0.116279
61                                       Branta                      1                 0.116279
62                                        Horse                      1                 0.116279
63               Rhinolophus hipposideros (bat)                      1                 0.116279
64         Arenaria interpres (ruddy turnstone)                      1                 0.116279
65                                    Mystacina                      1                 0.116279
66                                    shorebird                      1                 0.116279
67                      Gallus gallus (broiler)                      1                 0.116279
68                          Neoromicia capensis                      1                 0.116279
69                                 domestic dog                      1                 0.116279
70               Homo sapiens sample 4310600038                      1                 0.116279
71                             15 days old calf                      1                 0.116279
72                              chicken-broiler                      1                 0.116279
73                                        Manis                      1                 0.116279
74            Manis javanica (Malayan pangolin)                      1                 0.116279
75                    Chlamydotis sp. (Houbara)                      1                 0.116279
76                                  Scotophilus                      1                 0.116279
77                                      Crocuta                      1                 0.116279
78                            Gallus domesticus                      1                 0.116279
79                                  Vespertilio                      1                 0.116279
80                                      Tadorna                      1                 0.116279
81                                   Cynopterus                      1                 0.116279
82                      Galliformes sp. (Quail)                      1                 0.116279
83                                       wigeon                      1                 0.116279
84                                       bovine                      1                 0.116279
85                                 Nycteris sp.                      1                 0.116279
86                        Cardioderma cor (bat)                      1                 0.116279
87                      Hipposideros commersoni                      1                 0.116279
88   Gallus gallus (48 week-old breeder layers)                      1                 0.116279
89                        Hipposideros vittatus                      1                 0.116279
90                             Hipposideros sp.                      1                 0.116279
91                                  Oryctolagus                      1                 0.116279
92                       Rousettus leschenaulti                      1                 0.116279
93                                  bat BF_506I                      1                 0.116279
94                                  bat BF_258I                      1                 0.116279
95                                     Cynomops                      1                 0.116279
96                    Mustela putorius (ferret)                      1                 0.116279
97                                     Nyctalus                      1                 0.116279
98           Gallus gallus domesticus (chicken)                      1                 0.116279
99                                      Mustela                      1                 0.116279
100                   Rhinolophus Ferrumequinum                      1                 0.116279
101                          white-rumped munia                      1                 0.116279
102                          grey-backed thrush                      1                 0.116279
103                        red-whiskered bulbul                      1                 0.116279
104        Delphinapterus leucas (beluga whale)                      1                 0.116279
105                    Chaerephon pumilus (bat)                      1                 0.116279
106                        Eidolon helvum (bat)                      1                 0.116279
107                Miniopterus natalensis (bat)                      1                 0.116279
108                                      Suncus                      1                 0.116279
109                                        mink                      1                 0.116279
110             Hydropotes inermis (water deer)                      1                 0.116279
111                               Tropidophorus                      1                 0.116279
112                                     Hypsugo                      1                 0.116279
113                          Allactaga sibirica                      1                 0.116279
114                                       Sorex                      1                 0.116279
115                                      Myodes                      1                 0.116279
116                                    Meriones                      1                 0.116279
117                              common moorhen                      1                 0.116279
118                  Miniopterus inflatus (bat)                      1                 0.116279
119                                       quail                      1                 0.116279
120                                 night-heron                      1                 0.116279
121                                magpie-robin                      1                 0.116279
122                                   white-eye                      1                 0.116279
123              Miniopterus fuliginosus, feces                      1                 0.116279
124          Miniopterus fuliginosus, intestine                      1                 0.116279
125                                   Eptesicus                      1                 0.116279
126                        Chaerephon sp. (bat)                      1                 0.116279
127             Rhinolophus ferrumequinum (bat)                      1                 0.116279

In [7]:
df[["uniref90_id", "virus_name", "virus_taxon_rank"]].groupby(["virus_name", "virus_taxon_rank"]).count().sort_values(["virus_taxon_rank", "uniref90_id"], ascending=False)

                                                                     uniref90_id
virus_name                                         virus_taxon_rank
Nyctacovirus                                       subgenus                    1
Sarbecovirus                                       subgenus                    1
Tegacovirus                                        subgenus                    1
Orthocoronavirinae                                 subfamily                  16
Avian coronavirus                                  species                    64
Porcine epidemic diarrhea virus                    species                    47
Alphacoronavirus 1                                 species                    16
Bat coronavirus                                    species                    15
Middle East respiratory syndrome-related corona... species                     8
Swine acute diarrhea syndrome related coronavirus  species                     8
Ferret coronavirus                                 species                     7
Human coronavirus HKU1                             species                     5
Alphacoronavirus sp.                               species                     4
Betacoronavirus 1                                  species                     4
Betacoronavirus sp.                                species                     3
Human coronavirus 229E                             species                     3
Pipistrellus bat coronavirus HKU5                  species                     3
Rodent coronavirus                                 species                     3
Rousettus bat coronavirus HKU9                     species                     3
Coronaviridae sp.                                  species                     2
Gammacoronavirus sp.                               species                     2
Human coronavirus NL63                             species                     2
Pangolin coronavirus                               species                     2
Sparrow deltacoronavirus                           species                     2
Alphacoronavirus Bat-CoV/P.kuhlii/Italy/206645-... species                     1
Alphacoronavirus Eptesicus fuscus/Appalachian R... species                     1
Alphacoronavirus Eptesicus fuscus/Appalachian R... species                     1
Alphacoronavirus Eptesicus fuscus/Appalachian R... species                     1
Alphacoronavirus UKMa1                             species                     1
Bat SARS-like coronavirus Khosta-2                 species                     1
Bat alphacoronavirus                               species                     1
Bat coronavirus BM48-31/BGR/2008                   species                     1
Bat coronavirus M.ful/Japan/03/2009                species                     1
Bat coronavirus M.ful/Japan/04/2010                species                     1
Bat coronavirus RacCS203                           species                     1
Bat coronavirus RacCS224                           species                     1
Bat coronavirus RacCS253                           species                     1
Bat coronavirus RacCS264                           species                     1
Bat coronavirus RacCS271                           species                     1
Beluga whale coronavirus SW1                       species                     1
Betacoronavirus BtCoV/KW2E-F93/Nyc_spec/GHA/2010   species                     1
BtRf-AlphaCoV/YN2012                               species                     1
Bulbul coronavirus HKU11                           species                     1
Canada goose coronavirus                           species                     1
Cardioderma bat coronavirus/Kenya/KY43/2006        species                     1
Chaerephon bat coronavirus/Kenya/KY22/2006         species                     1
Chaerephon bat coronavirus/Kenya/KY41/2006         species                     1
Common moorhen coronavirus HKU21                   species                     1
Coronavirus BtRl-BetaCoV/SC2018                    species                     1
Coronavirus BtRt-BetaCoV/GX2018                    species                     1
Deltacoronavirus sp.                               species                     1
Eidolon bat coronavirus/Kenya/KY24/2006            species                     1
Ferret enteric coronavirus 1202                    species                     1
Ferret enteric coronavirus MSU1                    species                     1
Guangdong chinese water skink coronavirus          species                     1
Human coronavirus Feline-like Hu142                species                     1
Magpie-robin coronavirus HKU18                     species                     1
Miniopterus bat coronavirus 1                      species                     1
Miniopterus bat coronavirus/Kenya/KY27/2006        species                     1
Miniopterus bat coronavirus/Kenya/KY33/2006        species                     1
Mystacina coronavirus New Zealand/2013             species                     1
Night heron coronavirus HKU19                      species                     1
Quail coronavirus UAE-HKU30                        species                     1
Quail deltacoronavirus                             species                     1
Rabbit coronavirus                                 species                     1
Rhinolophus affinis bat coronavirus HKU2-related   species                     1
Rm-Bat-CoV 453/2007/EF                             species                     1
Rousettus aegyptiacus bat coronavirus 229E-related species                     1
SARS-like coronavirus BatCoV/BB9904/BGR/2008       species                     1
Severe acute respiratory syndrome-related coron... species                     1
Shorebird deltacoronavirus                         species                     1
Shrew coronavirus                                  species                     1
Sparrow coronavirus HKU17                          species                     1
Wencheng Sm shrew coronavirus                      species                     1
White-eye coronavirus HKU16                        species                     1
Wigeon coronavirus HKU20                           species                     1
Zaria bat coronavirus                              species                     1
shorebird coronavirus                              species                     1
unidentified human coronavirus                     species                     1
Infectious bronchitis virus                        no rank                   276
Severe acute respiratory syndrome coronavirus 2    no rank                    93
Feline coronavirus                                 no rank                    70
Human coronavirus OC43                             no rank                    55
Canine coronavirus                                 no rank                    20
229E-related bat coronavirus                       no rank                     4
Bovine coronavirus                                 no rank                     4
Feline infectious peritonitis virus                no rank                     3
Pigeon coronavirus                                 no rank                     3
unclassified Coronavirinae                         no rank                     3
Guinea fowl coronavirus                            no rank                     2
Turkey coronavirus                                 no rank                     2
unclassified Alphacoronavirus                      no rank                     2
Avian coronavirus IA1162/2020                      no rank                     1
Bat coronavirus CDPHE15/USA/2006                   no rank                     1
Bat coronavirus HKU9-1                             no rank                     1
Bat coronavirus RaTG13                             no rank                     1
BtNv-AlphaCoV/SC2013                               no rank                     1
BtPa-BetaCoV/GD2013                                no rank                     1
Canine coronavirus isolate NJ17                    no rank                     1
Canine respiratory coronavirus                     no rank                     1
Equine coronavirus                                 no rank                     1
Munia coronavirus HKU13-3514                       no rank                     1
Porcine deltacoronavirus                           no rank                     1
Porcine respiratory coronavirus                    no rank                     1
Rousettus bat coronavirus HKU10                    no rank                     1
Swine enteric coronavirus                          no rank                     1
Transmissible gastroenteritis virus                no rank                     1
unclassified Betacoronavirus                       no rank                     1
unclassified Buldecovirus                          no rank                     1
unclassified Minacovirus                           no rank                     1
Alphacoronavirus                                   genus                       3
Betacoronavirus                                    genus                       2
Deltacoronavirus                                   genus                       1
Coronaviridae                                      family                     22

In [8]:
df.head()

           uniref90_id  tax_id uniprot_host_tax_ids embl_ref_id    embl_host_name virus_host_name              virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0H3VFW7   31631               [9606]  AKA09662.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
1  UniRef90_A0A0K0KPB6   31631               [9606]  AIL49495.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
2  UniRef90_A0A0K0KPM4   31631               [9606]  AIL49520.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
3  UniRef90_A0A0K0KPR8   31631               [9606]  AIL49509.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus
4  UniRef90_A0A0K0L8I8   31631               [9606]  AIV41891.1  ['Homo sapiens']            Homo  Human coronavirus OC43          no rank               9605                 genus

In [9]:
df[["uniref90_id", "virus_host_name", "virus_host_taxon_rank"]].groupby(["virus_host_name", "virus_host_taxon_rank"]).count().sort_values(["virus_host_taxon_rank", "uniref90_id"], ascending=False)

                                                 uniref90_id
virus_host_name           virus_host_taxon_rank
Canis familiaris          subspecies                       8
Gallus gallus domesticus  species                         14
Allactaga sibirica        species                          1
Hipposideros commersoni   species                          1
Hipposideros vittatus     species                          1
Rhinolophus Ferrumequinum species                          1
Rousettus leschenaulti    species                          1
grey-backed thrush        species                          1
Homo                      genus                          162
Gallus                    genus                          100
Felis                     genus                           48
Rhinolophus               genus                           39
Canis                     genus                           18
Sus                       genus                           11
Myotis                    genus                            8
Pipistrellus              genus                            5
Rousettus                 genus                            5
Anas                      genus                            4
Hipposideros              genus                            4
Miniopterus               genus                            4
Pan                       genus                            4
Columba                   genus                            3
Eidolon                   genus                            3
Meleagris                 genus                            3
Bandicota                 genus                            2
Camelus                   genus                            2
Desmodus                  genus                            2
Erinaceus                 genus                            2
Murina                    genus                            2
Rattus                    genus                            2
Branta                    genus                            1
Coturnix                  genus                            1
Crocuta                   genus                            1
Cynomops                  genus                            1
Cynopterus                genus                            1
Eptesicus                 genus                            1
Hypsugo                   genus                            1
Manis                     genus                            1
Meriones                  genus                            1
Microtus                  genus                            1
Mustela                   genus                            1
Myodes                    genus                            1
Mystacina                 genus                            1
Nyctalus                  genus                            1
Oryctolagus               genus                            1
Scotophilus               genus                            1
Sorex                     genus                            1
Suncus                    genus                            1
Tadorna                   genus                            1
Tropidophorus             genus                            1
Vespertilio               genus                            1

### coronaviridae_s_uniref90_embl_hosts_pruned_metadata_species.csv

In [31]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_species.csv")
df = analyze_df(file_path)

df size =  (124, 9)
           uniref90_id  tax_id embl_ref_id     embl_host_name virus_host_name         virus_name virus_taxon_rank  virus_host_tax_id virus_host_taxon_rank
0  UniRef90_A0A0K0QRF0  694014  AKR15707.1  ['Gallus gallus']   Gallus gallus  Avian coronavirus          species               9031               species
1  UniRef90_A0A0K0QRF5  694014  AKR15706.1  ['Gallus gallus']   Gallus gallus  Avian coronavirus          species               9031               species
2  UniRef90_A0A0K0QRL7  694014  AKR15708.1  ['Gallus gallus']   Gallus gallus  Avian coronavirus          species               9031               species
3  UniRef90_A0A0K0QSF9  694014  AKR15709.1  ['Gallus gallus']   Gallus gallus  Avian coronavirus          species               9031               species
4      UniRef90_C0LZT6  694014  ACN87331.1  ['Gallus gallus']   Gallus gallus  Avian coronavirus          species               9031               species
Number of unique values = 44
     tax_id  tax_id_count  tax_id_percent
0    694014            32       25.806452
1   1508220            14       11.290323
2     28295             9        7.258065
3   2115988             8        6.451613
4   1335626             6        4.838710
5    290028             5        4.032258
6   1906673             4        3.225806
7   1928434             3        2.419355
8   2050018             3        2.419355
9     11137             3        2.419355
10   277944             2        1.612903
11  1986198             2        1.612903
12  2163008             2        1.612903
13  2591238             1        0.806452
14  2419667             1        0.806452
15  2691595             1        0.806452
16  2691585             1        0.806452
17  2708335             1        0.806452
18  2801855             1        0.806452
19  2801853             1        0.806452
20  2569586             1        0.806452
21  2801852             1        0.806452
22  2801851             1        0.806452
23  2801854             1        0.806452
24  1428481             1        0.806452
25  1480113             1        0.806452
26  2591233             1        0.806452
27   864596             1        0.806452
28  2520503             1        0.806452
29  2492656             1        0.806452
30  1898672             1        0.806452
31   694003             1        0.806452
32  2249315             1        0.806452
33  1911231             1        0.806452
34   694006             1        0.806452
35  2116470             1        0.806452
36  1737344             1        0.806452
37   694448             1        0.806452
38  2050019             1        0.806452
39  1503293             1        0.806452
40  1508228             1        0.806452
41  1034321             1        0.806452
42   989337             1        0.806452
43   693997             1        0.806452
Number of unique values = 52
                                       embl_host_name  embl_host_name_count  embl_host_name_percent
0                                   ['Gallus gallus']                    29               23.387097
1                                    ['Homo sapiens']                    16               12.903226
2                                      ['Sus scrofa']                     9                7.258065
3                                 ['Rhinolophus sp.']                     9                7.258065
4                          ['Rhinolophus acuminatus']                     5                4.032258
5                                  ['Eidolon helvum']                     3                2.419355
6                               ['Anas superciliosa']                     3                2.419355
7                           ['Rhinolophus malayanus']                     3                2.419355
8                            ['Rhinolophus cornutus']                     2                1.612903
9                                   ['Rousettus sp.']                     2                1.612903
10                            ['Camelus dromedarius']                     2                1.612903
11                                ['Myotis brandtii']                     1                0.806452
12                                  ['Anas gracilis']                     1                0.806452
13                           ['Vespertilio sinensis']                     1                0.806452
14                           ['Myotis macrodactylus']                     1                0.806452
15                              ['Myotis ikonnikovi']                     1                0.806452
16                                 ['Manis javanica']                     1                0.806452
17                            ['Rhinolophus affinis']                     1                0.806452
18                          ['Rousettus aegyptiacus']                     1                0.806452
19                              ['Branta canadensis']                     1                0.806452
20                           ['Pipistrellus abramus']                     1                0.806452
21                                 ['Rattus exulans']                     1                0.806452
22                              ['Bandicota savilei']                     1                0.806452
23                          ['Mystacina tuberculata']                     1                0.806452
24                              ['Desmodus rotundus']                     1                0.806452
25                             ['Rhinolophus stheno']                     1                0.806452
26                          ['Hipposideros larvatus']                     1                0.806452
27                                ['Murina cyclotis']                     1                0.806452
28                            ['Tadorna tadornoides']                     1                0.806452
29                              ['Coturnix japonica']                     1                0.806452
30                              ['Microtus agrestis']                     1                0.806452
31                            ['Pipistrellus kuhlii']                     1                0.806452
32                            ['Rhinolophus euryale']                     1                0.806452
33                      ['Rhinolophus ferrumequinum']                     1                0.806452
34                             ['Murina leucogaster']                     1                0.806452
35                            ['Rhinolophus sinicus']                     1                0.806452
36                             ['Rhinolophus blasii']                     1                0.806452
37  ['Oryctolagus cuniculus; breed: New Zealand ra...                     1                0.806452
38                            ['Meleagris gallopavo']                     1                0.806452
39                        ['Hipposideros commersoni']                     1                0.806452
40                               ['Eptesicus fuscus']                     1                0.806452
41                                 ['Suncus murinus']                     1                0.806452
42                            ['Meriones meridianus']                     1                0.806452
43                               ['Myodes rufocanus']                     1                0.806452
44                                  ['Sorex araneus']                     1                0.806452
45                             ['Allactaga sibirica']                     1                0.806452
46                                  ['Hypsugo savii']                     1                0.806452
47                          ['Tropidophorus sinicus']                     1                0.806452
48                       ['Miniopterus schreibersii']                     1                0.806452
49                                    ['Canis lupus']                     1                0.806452
50                           ['Rattus argentiventer']                     1                0.806452
51                                 ['Myotis laniger']                     1                0.806452

In [32]:
df.shape

(124, 9)