In [2]:
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from ast import literal_eval

In [11]:
file_path = os.path.join(os.getcwd(), "..", "..", "..","..", "input/data/coronaviridae/20240313/uniref/cluster_analysis/coronaviridae_s_uniref90_embl_hosts_pruned_metadata_corrected_species_virus_host_vertebrates_w_seq_t0.01_c8_members.csv",)
df = pd.read_csv(file_path) #, converters={2:literal_eval})
print(df.shape)
df.head()

(2229, 5)

,member_id,embl_ref_id,embl_host_name,uniref90_id,virus_host_name
0,A0A0H3VFW7_CVHOC,AKA09662.1,['Homo sapiens'],UniRef90_A0A0H3VFW7,homo sapiens
1,A0A0H3VE73_CVHOC,AKA09659.1,['Homo sapiens'],UniRef90_A0A0H3VFW7,homo sapiens
2,A0A0H3VDF8_CVHOC,AKA09663.1,['Homo sapiens'],UniRef90_A0A0H3VFW7,homo sapiens
3,A0A0H3VFW5_CVHOC,AKA09652.1,['Homo sapiens'],UniRef90_A0A0H3VFW7,homo sapiens
4,A0A0H3VDF7_CVHOC,AKA09658.1,['Homo sapiens'],UniRef90_A0A0H3VFW7,homo sapiens